[2017-01-18 16:06] akashdeepsingh9988 opened #9 "isempty method and variables issues in heap programs"
In the MaxHeap.java (Line number : 87 ) and MinHeap.java (Line Number : 90) the isempty method shows the error.  maxHeap variable not declared or defined in the MinHeap.java file.

[2017-02-13 06:44] majidsd commented on #9
I will check this issue today later, can i?

[2017-02-13 12:39] majidsd commented on #9
I have solved this issue.

[2017-04-04 19:32] Moro-Code opened #20 "No implementations of CircleLinkedLists"
I have tried to push implementation onto new branch but it seems you have prevented people from creating new branches.

[2017-04-15 17:41] #9 closed

[2017-04-18 16:04] zacharyjones123 commented on #20
What files did you try to add? It should have worked

[2017-04-18 16:11] Moro-Code commented on #20
Well I tried to add a circle linked list implementation with generics. I tried to create a new branch however it denied me from doing so

[2017-04-18 16:13] zacharyjones123 commented on #20
What you have to do is fork this original repository. Add in the Circle Linked List files. Then perform a pull Request and wait for the owners to approve your request.

[2017-04-18 16:15] Moro-Code commented on #20
ahh I see well I'll try that thank you!

[2017-04-18 16:16] zacharyjones123 commented on #20
You are welcome! Good luck!

[2017-05-05 00:24] DocJava opened #49 "Code Style is incorrect"
Java:
code is written to look like its C# (sure that SEEMS ok, but if the point of this code to introduce is to people then we'll just have more people writing code that does not look right)

Scala
The Scala looks like the Java that looks like C# . Also, Scala is functional (or at least it can be) your code is essentially modified Java, yes it works, but it needs to be correct no?

Python
Only loo

[2017-05-05 00:30] theycallmemac commented on #49
I agree with this, maybe if the three behind TheAlgorithms agree that each language should conform to a set standard, PEP8 for Python for example. I'll help if needed.

[2017-07-08 01:32] KylerSmith opened #65 "Generalize using generics."
# Enhancement
## Description
Many of the algorithms, namely sorting, searching and the data structures, are using primitive types for the implementation of the algorithms. This could be generalized to any comparable type  using generics.

[2017-08-11 14:58] varunu28 commented on #65
Thanks for pointing that out @KylerSmith . @AnupKumarPanwar I would like to work on this issue. Can you please assign it to me

[2017-08-13 19:05] varunu28 commented on #65
Here is the linear search with generics #80
Would start working on others and would add more search and sort methods in future

[2017-08-13 19:07] 0oo0 commented on #65
Thanks.

[2017-08-17 13:59] varunu28 commented on #65
Added generic binary search #82
Done with the searches. Would be adding generic sorts in future.
Once both search and sorts are done let us make sure that any further addition of algorithms is in its generic form

[2017-08-19 14:42] varunu28 commented on #65
Started with creating generic version for sorts
Bubble Sort #83

[2017-08-20 14:45] varunu28 opened #84 "Redundant InsertionSort"
There are two insertion sorts in the sort directory. It would be better to replace both of them with a single generic insertion sort

[2017-08-23 05:25] dumonody opened #88 "I have a question in Java/Sorts/MergeSort.java"
[code]
Can I change this snippet to
[code]

[2017-08-24 14:55] mohit741 opened #89 "Java\data_structures\Trees : Implementation of binary search tree methods in binary tree"
A <b>binary tree</b> is different from a <b>binary search tree</b>. Elements on left may not be always smaller so a clear <b>distinction</b> should be made.

[2017-08-25 18:45] varunu28 commented on #88
@dumonody  I have made a PR for a generic version of MergeSort. Once it is merged we both can discuss on this. I have done a lot of changes so the previous code will be completely overwritten

[2017-08-25 18:57] dumonody commented on #88
@varunu28 Sorry,my description is not correct. I want to ask, why out of the excess must be "i", not "j".

[2017-09-05 03:33] mishraanmol opened #91 "Element.equals() is overridden but Element.hashCode() is not"
Shouldn't the results of hashCode() be consistent with the notion of value equality as implemented by .equals()?

Disclaimer: I don't really consider myself a Java programmer. I'm analyzing the Java code in the process of producing a Python port of Structurizer.

@AndrewJey

[2017-09-05 03:36] mishraanmol opened #92 "Which is preferred sorting algorithm"
Suppose we are given a  set of values that are completely sorted, then among all the available sorting algorithms which one should we use?

For eg : 1,2,3,4,5,6,7,8,9

Query: What will be the time complexity of all the sorting algorithms in all the available cases.
Will selection and insertion sort will be suitable @varunu28 @AndrewJey @SergeyTsaplin @erugged93 @saurabhjn76

[2017-09-05 03:49] varunu28 commented on #92
You can use insertion sort with a flag to check if there  is a swap or not. It would do only one iteration i.e. O(n)

In future kindly Google such queries rather than opening an issue in the repo as it is not an issue related to the code present in the repository
[Big-O Cheatsheet](http://bigocheatsheet.com/)

@AnupKumarPanwar  kindly close this

[2017-09-05 03:50] #92 closed

[2017-09-10 16:24] dynamitechetan commented on #65
Can we close this issue?

[2017-09-10 16:46] varunu28 commented on #91
@dynamitechetan  I suppose we can close this issue too as it is not related to the code present in the repository

[2017-09-10 16:52] varunu28 commented on #89
@dynamitechetan  I would like to work on this issue. I saw the implementation in the code and the issue seems to be correct. The binary tree actually implements the binary search tree. So it would have to be renamed and the explanation in the comments need to be improvised to make it more clear. Kindly assign this issue to me

[2017-09-10 17:02] dynamitechetan commented on #89
Please work on this.

[2017-09-11 14:23] #91 closed

[2017-09-28 12:01] AnupKumarPanwar opened #96 "Add more algorithms"
This repo has less contributions. Please add more algorithms.

See the structure and README of this repo for reference
https://github.com/TheAlgorithms/Python

[2017-09-28 13:14] dhinske commented on #96
would you be interested in some Set-implementations or maybe Bag? didnt see it in your repo :)

[2017-09-28 14:12] dpunosevac commented on #96
I would like to contribute it. I see that you have no shell sort algorithm for Java. I would take that one first. Than later I would continue with few mores, if that is ok.

[2017-09-28 15:46] mpokryva commented on #96
Would you be interested in a level-order tree traversal?

[2017-09-28 15:48] dpunosevac commented on #96
@mpokryva Sure man. I am up for anything. :)

[2017-09-28 15:49] dynamitechetan commented on #96
Thanks. @mpokryva

[2017-09-28 15:50] mpokryva commented on #96
Ok, I will take that then.

[2017-09-28 15:53] dpunosevac commented on #96
@mpokryva I mistakenly thought you were talking to me. And not asking for yourself. Anyway, you can grab that one, and I hope that @dynamitechetan needs shellsort, so I do that one.

[2017-09-28 15:54] mpokryva commented on #96
Ok, sounds good! Sorry for the misunderstanding :)

[2017-09-28 17:44] varunu28 commented on #96
@dynamitechetan  @AnupKumarPanwar  Would be continue to add more algorithms to this as a part of hacktoberfest
PRs would be maily in Data Structures and other domain

[2017-09-28 19:35] rei2hu commented on #96
Please look over pull requests before merging because I noticed the most recent one won't even compile properly and I'm assuming that a lot of people will make PRs soon because of Hacktoberfest (myself included). For example, in PR #101 there are many errors.

Can't compile because there is no type for `len_a` and `len_b`
Can't compile because `calculate_distance` is a non-static method
One of the

[2017-09-28 22:45] mpokryva opened #104 "BinaryTree method find() confusing return value"
The `find(int key)` method in the BinaryTree class returns the node with the value `int`, if it's found, and root if there is no such node. This is confusing behavior, first of all, as one would expect it to return null, and is also problematic, since the root itself can match the query.

I suggest simply changing this function to return null on an unsuccessful query.

[2017-09-28 22:49] mpokryva opened #105 "Multiple definitions of Node"
The Node class is widely used across many data structures and algorithms. Right now, there are multiple definitions of this class, in basically every single data structure/algorithm that uses it. This introduces a lot of redundancy into the codebase, and also makes bugs more likely to happen. I suggest removing the duplicate declarations of this class where possible, and simply reusing the Node cl

[2017-09-28 23:53] varunu28 commented on #96
@rei2hu @dynamitechetan @AnupKumarPanwar
Also the PRs should be monitored correctly to check for coding style and if an addition to the repo is actually an algorithm or just a solution of an interview question. The long term goal should be to make this repo as a one stop solution for Java algorithms rather than a repository with bunch of random interview problems.

[2017-09-29 05:20] AnupKumarPanwar commented on #96
@dynamitechetan @varunu28 @rei2hu
I think we should create a repo that contains simple English explanation of the algorithms with example and a link to their implementation in different programming languages.

[2017-09-29 06:03] AnupKumarPanwar opened #110 "Travis CI"
Add a .travis.yml file to this repository.
Refer to this doc https://docs.travis-ci.com/user/languages/java/

[2017-09-29 07:06] naushad-madakiya commented on #110
Shall I work on this?

[2017-09-29 07:33] #110 closed

[2017-09-29 22:14] praveenkannan commented on #96
@AnupKumarPanwar I am relatively late here so I though I directly ask you. Whats next in your priority list. i ll address it. I love writing algorithms.

[2017-09-30 01:34] AnupKumarPanwar commented on #96
@praveenkannan I would like you to contribute on
https://github.com/TheAlgorithms/Algorithms-Explainations

[2017-10-01 03:27] praveenkannan commented on #96
@AnupKumarPanwar assign that to me. I am starting to work on it now.

[2017-10-01 07:30] Alastifer commented on #96
@AnupKumarPanwar can I write dijkstra algo on Java?

[2017-10-01 15:44] fredz0003 commented on #96
Wouldn't it be easier to keep track of the algorithms that are missing? Some sort of list on the repo maybe.

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-01 15:46] fredz0003 commented on #96
Wouldn't it be easier to keep track of the algorithms that are missing? Some sort of list on the repo maybe.

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-01 21:28] MichGedd commented on #96
Would I be able to write A* Algorithm?  I have a version made in Processing

[2017-10-01 23:54] lvncnt commented on #96
#124 add KMP algorithm; improve binary search

[2017-10-02 00:18] fredz0003 commented on #96
I've looked at the python repo, and I will be doing a bunch of the cypher algorithms.

[2017-10-02 02:27] fredz0003 opened #125 "Packages imports?"
Sorry if this a dumb question. This is my first time attempting to contribute to get onboard with hacktoberfest. If someone tries to run this it will be errors due to no package import lines. Just looking at Sorts package and only shell sort has the import. Other packages have the same issues and some files are wrongly named for example BinaryTreeSort file and the class name is TreeSort.

By the w

[2017-10-03 07:19] dynamitechetan commented on #105
Cool. Can you help with this issue?

[2017-10-03 14:07] mpokryva commented on #105
Sure!

[2017-10-03 15:26] shikhart98 commented on #96
Are you interested to add compression algorithm?

[2017-10-04 03:56] varunu28 opened #144 "Incorrect pull requests getting merged"
I was looking through the commits for last few days and found that a few PRs were merged without proper review.
Ex: [Towers Of Hanoi in Misc section](https://github.com/manmeet-22/Java/blob/1e99c48d4a3346476d7d48b8b03ae8ddea27569c/Misc/TowerOfHanoiUsingRecursion)

Issues:
1. The  code is committed from a personal package and the package name has now become a part of the codebase
2. **The code file

[2017-10-04 04:04] varunu28 commented on #125
@fredz0003  Thanks for pointing this out. You can go ahead and do the changes and open a PR. Just make sure you keep a check that there are no conflicts with the master repo

[2017-10-04 12:16] dhinske commented on #96
#147 Added Bag-Datastructure

[2017-10-04 17:31] tifa64 commented on #96
@AnupKumarPanwar I just started and I added the description of Shell sort in the README, can you assign me to a task ?

[2017-10-04 18:44] bhalla98 commented on #96
@AnupKumarPanwar are you looking for data structure implementation as well?

[2017-10-04 20:59] fredz0003 commented on #125
@varunu28 Got it. It's what I was thinking. I'll fix any file naming issues on the latest master.

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-05 07:09] PAPERPANKS commented on #96
I will update the `readme.md` file with the latest codes.
In reference to @AnupKumarPanwar issue #96 about updating structure of README file.

[2017-10-05 07:56] PAPERPANKS commented on #96
#154 added more content in README

[2017-10-05 09:26] AK-007 commented on #96
Can I add LCS problem to dynamic programming?

[2017-10-05 14:08] fredz0003 commented on #144
@varunu28 I just submitted a PR yesterday fixing multiple typos, and issues as you've described. Anyways I had intended to fix class file names. Some file names are different that the class. That has been fixed on my PR. While poking around the code, there was several erroneous main methods. Some main methods taking input and not using it at all. I'll raise an new issue for one
[OctalToBinary.java

[2017-10-05 14:16] fredz0003 opened #157 "OctalToBinary strange method declarations"
This class has a very strange method. It is passing a parameter and not even being used.
On top of that there are two methods called within that method.

[code]

[OctalToBinary.java](https://github.com/manmeet-22/Java/blob/1e99c48d4a3346476d7d48b8b03ae8ddea27569c/Conversions/OctalToBinary.java)

Please assign this to me. I'll get it fix.

[2017-10-05 18:41] fredz0003 commented on #157
Issue is resolved on PR #152.

[2017-10-05 18:41] #157 closed

[2017-10-05 20:46] fedesassone commented on #84
I can take care of this.

[2017-10-05 22:31] fredz0003 commented on #96
Are you guys interested in adding math algorithms? I can add linear interpolation and extrapolation. If so I'll add a Math folder/Package.

_Sent from my Samsung SM-G955U using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-08 06:01] JPDSousa opened #167 "Wrong Travis-CI badge"
The Travis-CI badge points to the wrong repository (TheAlgorithms/Python), which is itself not an active repository according to Travis-CI.

I also don't see a .travis.yml file in this repo so i guess there was some kind of mistake here.

[2017-10-09 13:50] Stuk4 commented on #96
Can i add the Euclidean algorithm ?

[2017-10-09 23:35] #125 closed

[2017-10-10 18:30] #144 closed

[2017-10-14 18:36] vn17 commented on #96
Would you be interested in a Java 8 implementation of an Image processing algorithm - Histogram Equalization Algorithm?

[2017-10-15 06:50] avsingh999 commented on #96
would you interested in segment tree find the minimum in a range

[2017-10-17 18:29] AKS1996 commented on #96
can try for nested_brackets.py and password_gen.py equivalents, as in pull request #218

[2017-10-21 12:23] manimanasamylavarapu commented on #96
Hi I am getting this error
remote: Permission to TheAlgorithms/Java.git denied to manimanasamylavarapu.

[2017-10-21 12:51] varunu28 commented on #96
@manimanasamylavarapu I suppose you were trying to edit the main repo

[2017-10-21 13:12] manimanasamylavarapu commented on #96
@varunu28 you are right!! I then forked and proceeded .Thanks :)

[2017-10-21 19:04] chugh22 commented on #96
added Tarjan's Algorithm for finding articulation point in a graph #245

[2017-10-23 22:02] MattBizzo commented on #84
Is there any reason for this question still to be open? Seems to me that the InsertionSortInteger can be removed.

[2017-10-23 22:34] #84 closed

[2017-10-23 22:41] MattBizzo commented on #167
@AnupKumarPanwar Is this a reference to #110 ? I'm asking because if it is, we can just modify the reference to https://docs.travis-ci.com/user/languages/java/

[2017-10-25 07:47] AKS1996 commented on #96
separated main and generatePassword functions #218

[2017-10-25 17:02] PAPERPANKS commented on #96
@AnupKumarPanwar reopen this issue i have added a new example

[2017-10-25 17:45] YJDave commented on #96
@AnupKumarPanwar Add algorithm for Bucket Sort. Let me know if any changes are required :)

[2017-10-31 03:04] italo-batista commented on #96
I have just opened a [pull request](https://github.com/TheAlgorithms/Java/pull/293) in which I add the Floyd Warshall graph algorithm to find shortest paths between every pair of vertices. If you please review me.. (:

[2017-10-31 03:30] italo-batista commented on #96
I also opened a [pull request](https://github.com/TheAlgorithms/Java/pull/294) to add the sorting algorithm QuickSortMedianOfThree. :grin:

[2017-10-31 06:21] zhexuany commented on #96
add a algo for coin change https://github.com/TheAlgorithms/Java/pulls

[2017-10-31 23:01] italo-batista commented on #96
[Pull Request](https://github.com/TheAlgorithms/Java/pull/300) to add Bellman-Ford graph algorithm to find shortest path from one vertex to all. :smiley:

[2017-11-12 07:34] yogeshAgarwal opened #304 "Update Readme.md File"

[2017-11-12 14:48] varunu28 commented on #304
@yogeshAgarwal Can you please some details on why have you have opened this issue?

[2017-11-12 15:35] Febaug commented on #96
Hey, a friend of mine and I would write the Hopcroft-Karp algorithm with the amount of maximal cardinal matchings as output and - if we're able to implement it - extend it later to give out the exact matchings.

[2017-11-13 05:28] yogeshAgarwal commented on #304
there are so many algos in this repo but only some of them is mention in the readme.md, so we should design redme.md so that it can gives all the information of algos present in the repo.

[2017-11-13 05:42] varunu28 commented on #304
If you want to take up on this then you can create a new markdown file with a list of all algos with their links under their correct category. Let me know if you want to take this

[2017-11-13 09:41] scottwar34 opened #310 "Merge Sort, a different method"
"Hi I like your code.
Another approach the Merge Sort code would be:

// Merges two subarrays of arr[].
    // First subarray is arr[l..m]
    // Second subarray is arr[m+1..r]
    void merge(int arr[], int l, int m, int r)
    {
        // Find sizes of two subarrays to be merged
        int n1 = m - l + 1;
        int n2 = r - m;

        /* Create temp arrays */
        int L[] = new int [n1];

[2017-11-13 11:15] Phil-Schmidt commented on #96
Hi there, user Febaug has tipped me off about this project and I'd like to contribute as well. I've seen that you have a subdirectory for crypto algorithms, but you're still missing an implementation of the Advanced Encryption Standard. I'd love to build that for you unless you see a problem with that.

[2017-11-14 04:25] yogeshAgarwal commented on #304
yes, i want to do work on it but after 29 November, is it okay?

[2017-11-14 04:54] varunu28 commented on #304
Yes sure. I will assign this to you

[2017-11-19 14:11] Phil-Schmidt opened #320 "[ciphers/AES] Rijndael Galois Field Operations - Design Question"
The AES algorithm uses a couple of math operations on 8-bit integers that are not calculated in the regular integer space, but in Rijndael's Finite Field.
There are different ways to approach this issue:
You could implement different sub algorithms that will do the calculation for you. This would pose a more 'complete' solution to this problem, however it will make the algorithm harder to read.
Al

[2017-12-05 06:21] LeeChungWan opened #336 "Error code in Conversions folder."
Some of the codes in the conversion folder are not executable or error codes in the Java environment.

As I was looking through the code, I fixed the error in DecimalToHexaDecimal.java and sent PR.

Could you please confirm that I am going to send a PR for other issues?

[2017-12-05 13:46] varunu28 commented on #336
Merged. Please send the other PRs. Closing the issue

[2017-12-05 13:46] #336 closed

[2017-12-06 02:16] JeonSeongBae opened #338 "Add Double-ended priority queue"
I want to add new heap.

A double-ended priority queue (DEPQ) or double-ended heap is a data structure similar to a priority queue or heap, but allows for efficient removal of both the maximum and minimum, according to some ordering on the keys (items) stored in the structure. Every element in a DEPQ has a priority or value. In a DEPQ, it is possible to remove the elements in both ascending as wel

[2017-12-06 02:39] LeeChungWan opened #340 "Error code in Conversions."
I send a new PR for another error.

PR#339 Updated OctalToDecimal.java
URL : https://github.com/TheAlgorithms/Java/pull/339

Modified error.

1. modified error in return type.

[2017-12-08 02:22] LeeChungWan commented on #340
@varunu28
I sent new PR(#339  ) for issue that mentioned at #336 .

But no respond.

Please check my PR and review.

[2017-12-08 19:07] JeonSeongBae opened #345 "Please check or comment."
I send a PR.

But there was no answer.

Please feedback or comment #342 and #341 .

[2017-12-08 19:23] varunu28 commented on #345
Merged #342
Would review #341
Closing the issue

[2017-12-08 19:23] #345 closed

[2017-12-09 08:27] YooSeonjae opened #348 "Modifying the error code"
I sent new Pull Request to fix the error code
PR#347 Modifying HexaDecimalToBinary.java
URL : #347

Please check my PullRequest

[2017-12-09 21:06] varunu28 commented on #348
Merged. Please refrain from opening an issue regarding a PR

[2017-12-09 21:06] #348 closed

[2017-12-09 21:11] varunu28 commented on #340
Merged. Closing the issue

[2017-12-09 21:11] #340 closed

[2017-12-10 04:19] LeeChungWan commented on #348
Okey.
Thank you.

[2017-12-12 21:32] Mickey248 opened #355 "the java in not download"
i download java in win10 java is error
why?

[2017-12-12 22:41] varunu28 commented on #355
Please refer to the official documentation
Issue not relevant to the repo hence closing it

[2017-12-12 22:41] #355 closed

[2017-12-13 11:33] LeeChungWan opened #356 "Class name and .java file name's mismatch"
When I checked the code in the repository I found a lot of different things in java files and class names.

Can I handle this issue?

[2017-12-13 13:58] varunu28 commented on #356
@LeeChungWan
Thanks for pointing this out. You can take up this issue and do the changes where filename and class name are different.

[2017-12-13 18:47] LeeChungWan commented on #356
I will change the difference and send PR.

[2017-12-13 22:33] varunu28 commented on #356
Sure. I am closing this issue

[2017-12-13 22:33] #356 closed

[2017-12-17 10:05] YooSeonjae opened #363 "Two identical algorithms exist"
https://github.com/TheAlgorithms/Java/blob/master/Others/FindingPrimes.java
https://github.com/TheAlgorithms/Java/blob/master/Others/SieveOfEratosthenes.java

Both algorithms used the SieveOfEratosthenes algorithm as a way to find decimals.

[2017-12-17 10:14] YooSeonjae commented on #96
Add a circular queue or ring wait, a data structure that uses a single fixed-size buffer just like an end-to-end connection
#322

[2017-12-17 10:17] YooSeonjae commented on #96
One of the greedy algorithms, Scheduling to Minimize Lateness
#309

[2017-12-17 15:51] varunu28 commented on #363
Removed the first one. closing the issue

[2017-12-17 15:51] #363 closed

[2017-12-26 04:04] jfsanin commented on #49
I guess writing "correct code" for every language is quite time consuming, as I understand this repository is just to learn about algorithms not a guide to write specific code in a specific language.

I agree that specific code help a lot of people to get better coding skills ("for example writing Scala in a functional way") but it is not the intention of this repository, however, the community co

[2018-01-09 19:50] Jeh212 commented on #88
@dumonody   to use the variable "j" as a counter, you will Need to declare the variable as an integer.

[2018-01-09 19:54] #88 closed

[2018-01-27 04:29] debck opened #371 "Added Triple DES algorithm"
I would like to add triple DES cipher algorithm

[2018-01-27 06:04] varunu28 commented on #371
@debck  You can send a PR directly and we will merge it after the review

[2018-01-27 06:04] #371 closed

[2018-01-31 13:28] GammaBurst101 commented on #304
@varunu28 , Did @yogeshAgarwal complete the work? If not, then can I do it?

[2018-01-31 13:54] varunu28 commented on #304
@GammaBurst101 Yes you can take it up

[2018-02-01 10:52] GammaBurst101 commented on #304
@varunu28 , How should I do it? Write the name of each .java file under their respective headings like "Dynamic Programming"and a relative link in markdown after the already written explanations of the Sorting and Searching algorithms? Or should I do it in any other way?

[2018-02-01 14:39] varunu28 commented on #304
@yogeshAgarwal Yes. I think creating a tabular format for representing all the algorithms would be much more representable
@dynamitechetan What is your opinion about this?

[2018-02-02 03:58] dynamitechetan commented on #304
Yes. Tabular format will be good.

[2018-02-02 05:32] varunu28 commented on #304
@yogeshAgarwal You can go ahead with the changes and make a PR

[2018-02-03 07:12] GammaBurst101 commented on #304
@varunu28 Now, I feel that I can't do it. You were talking about tabular format and I don't know how to do that. I thought of a list but that also I can't do as the markdown written by me doesn't work. (Example: [bags](Data Structures/Bags/Bag.java)).
I joined GitHub just 12 days ago. I think I should first learn markdown and other things before venturing out like this.
Sorry for troubling you. Pl

[2018-02-03 14:06] varunu28 commented on #304
@GammaBurst101 It is alright. Getting hold of README syntax won't take more than a day for you. Just go through this [README Guide](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).

See what I did there :+1:

[2018-02-04 09:03] jackzhao29 opened #376 "After the merger did not solve the conflict"
HashMap.java conflict not resolved

[2018-02-04 13:50] GammaBurst101 commented on #304
@varunu28 thanks. I made a PR. Please take a look. #377

[2018-02-04 16:00] varunu28 commented on #376
@jackzhao29 Can you please mention the PR # ?

[2018-02-09 03:06] jackzhao29 commented on #376
of course can

[2018-02-09 03:06] jackzhao29 commented on #376
@varunu28 of course can

[2018-02-09 03:16] varunu28 commented on #376
@jackzhao29 Please mention the PR #

[2018-02-09 06:26] jackzhao29 commented on #376
@varunu28 Has been submitted to the merger

[2018-02-13 05:38] OwiyeD opened #379 "Multhreading issue"
Hello,
I really like your topics and the way you explain. I am a computer science student. I am developing an desktop app that would help farmers get to know the best seed for the area based on the database of experts. I did that well but I also wanted them to be updated on what to do every time there has to be an activity on their crops for instance weed, apply fertilizer etc. I have a table of t

[2018-02-20 16:59] kai18 commented on #338
If no one else is working on this issue, I'd like to make a contribution.

[2018-02-20 17:17] JeonSeongBae commented on #338
Sure. No problem!

[2018-03-01 19:17] varunu28 opened #385 "Upgrade to a project structure"
@AnupKumarPanwar @dynamitechetan
I am proposing a long-term change to this repository something similar to [Scala Repo](https://github.com/TheAlgorithms/Scala). The details of the change are as mentioned below:
 - Add test cases for every algorithm using JUnit
 - Change the repository structure according to a Java project structure with proper packages for every algorithm domain
 - Update the code

[2018-03-16 07:46] SpamhaterAlex opened #388 "Connecting JDBC applications with SSL?"
Hello community,

I want to ask, if somebody have a hint for me, how to connect jdbc applications with SSL?
I am using eclipse, and have ca.pem, client.pem, client_key.pem.
The mysql-server is already configured.

I just need to make a connection with jdbc using ssl.
I found this link:

https://www.ibm.com/support/knowledgecenter/en/SSGU8G_12.1.0/com.ibm.jdbc_pg.doc/ids_jdbc_490.htm

But I still n

[2018-03-22 15:05] stomaras opened #390 "bfs Algorithms java implementation"
I could add the new bfs  algorithm because I saw that there is no such project

[2018-03-25 11:41] stomaras commented on #390
@varunu28 I could add another version of it ?

friendly ,spyros

[2018-03-25 13:52] varunu28 commented on #390
@stomaras Rather than having two versions, I would suggest you to refactor the existing code to your implementation

[2018-03-25 21:04] stomaras opened #391 "grasp Algorithm implementation java"
I will try to implement grasp algorithm in java and add it

[2018-03-26 19:39] stomaras opened #393 "Threads implementation consumer,producer"
I could add a mini project with four Algorithms  ,which is a problem of real life

where one # consumer communicate with a # producer for products through one  cubbyhole class

the project will have 4 classes and will implemented in java:

1) class Consumer.java  which extend Thread
2)class Producer.java which extend Thread
3) class Cubbyhole.java through which the two above classes will communica

[2018-03-26 19:51] stomaras opened #394 "Merge three Arrays"
Merging three arrays. Given three sorted arrays a[], b[], and c[], each of size N

[2018-03-26 20:46] stomaras commented on #393
done

[2018-03-27 15:33] fw1121 opened #395 "CircleLinkedList error"
line 29 shoule be:  head.next = new Node<E>(value, head.next);

[2018-03-27 17:11] varunu28 commented on #395
@fw1121  Please raise a PR

[2018-03-27 17:11] #395 closed

[2018-03-27 20:24] stomaras opened #396 "TSP problem"
I will implement the tsp Algorithm in java

Friendly spyros

[2018-04-02 14:55] christianbender commented on #396
@stomaras Feel free and make a pull request.

[2018-04-02 14:56] christianbender commented on #391
@stomaras  Feel free and send a pull request.

[2018-04-02 14:56] #390 closed

[2018-04-02 14:57] christianbender commented on #388
@SpamhaterAlex Please ask your question on [stackoverflow](https://stackoverflow.com/)

[2018-04-02 14:57] #388 closed

[2018-04-02 14:58] christianbender commented on #379
@OwiyeD Please ask your question on [stackoverflow](https://stackoverflow.com/)

[2018-04-02 14:58] #379 closed

[2018-04-02 15:00] #338 closed

[2018-04-03 13:50] jazzlee opened #402 "BalancedBrackets is not complete"
I can not figure out  how it works,apparently,the pair variable is not used after declaration.

[2018-04-03 16:58] christianbender commented on #402
@jazzlee Can you be more detailed?

[2018-04-03 16:58] #376 closed

[2018-04-03 16:59] #105 closed

[2018-04-04 07:40] wunanhuhu opened #405 "Excuse me, I want to know how to set the high and weight of the TimeChartView in android Studio?"

[2018-04-05 03:42] jazzlee commented on #402
I was testing the data_structures\Stacks\BalancedBrackets.java class with a pair of brackets ：{} and got the following results:

Enter sequence of brackets:
{}
{} ain't balanced
--
yes ,you got it.

[2018-04-09 12:08] stomaras commented on #391
@christianbender thanks in a few days I will add it

[2018-04-12 17:13] stomaras opened #416 "Grasp Algorithm implementation java"
i will add grasp Algorithm  in java

[2018-04-15 15:07] khalil2535 commented on #402
@christianbender It's solved.

[2018-04-15 15:29] khalil2535 commented on #402
#419
can we close this issue  ?

[2018-04-21 07:14] anthonycampbell commented on #96
Could I add a skiplist implementation?

[2018-04-24 07:53] nikitap492 opened #426 "The project structure has different styles"
The project structure has different styles. For instance, there are 3 data structure folders now (one of them in python style). It will be good to make one style, because it easy for people how understand project. Futhermore, it is not acceptable to create class with uncapitalize name by the java conventions (like in Compression). May be it is just legacy code, but It should be denied in future

[2018-04-24 09:25] jack870131 opened #427 "RedBlackBST Implementation by Java"
I would like to add the RedBlackBST.

[2018-04-25 00:29] #320 closed

[2018-04-26 04:40] kezhenxu94 commented on #426
Agree! It's very messy, and conflicts are also committed like this: https://github.com/TheAlgorithms/Java/blob/master/DataStructures/HashMap/HashMap.java

[2018-04-26 14:55] stomaras opened #431 "AfmAlgorithm"
I will add an algorithm which , will calculate the validity of one AFM.

[2018-05-02 07:57] RishiPrakash commented on #427
I would like to take this issue, I will write the code for it.

[2018-05-02 07:57] RishiPrakash commented on #431
I would like to take this issuel can we discuss it further?

[2018-05-02 08:18] RishiPrakash commented on #96
I have added [pullRequest](https://github.com/TheAlgorithms/Java/pull/433)   , please review and merge.

[2018-05-09 09:13] picturetxl opened #436 "CircleLinkList has a problem,i think"
public void display()
    {
        Node<E> current=head;
        for (int i = 1; i <= size; i++) {
            System.out.println(current.next.value);
            current=current.next;
        }
    }

    public static void main(String[] args)
    {
        CircleLinkList<String> cl= new CircleLinkList<>();
        cl.append("hello");
        cl.append("world");
        cl.append("and");

[2018-05-09 12:10] 15572389021 opened #437 "java"

[2018-05-19 19:14] Skhwan commented on #436
would you mind to let me work on this?

[2018-05-19 20:29] Skhwan commented on #436
I agree that there's something wrong with this one. And I also found that the remove method doesn't work properly, it doesn't decrease the link size.

would you mind if I work on this one?

[2018-05-29 09:50] wudicege opened #450 "发现一个bug"
逗你玩

[2018-06-02 13:49] stomaras commented on #431
yes tell me i have implement thiis i will add in the project

[2018-06-07 20:27] #436 closed

[2018-06-22 07:37] dengjfeng commented on #450
plz close this issue

[2018-06-22 07:44] #450 closed, assigned to nobody

[2018-06-26 08:16] BelmoMusta opened #454 "Create a readme"
In order  that people know what the compression section is about, I'd prefer to see a readme.md file explaining what this code does.

[2018-07-09 10:29] shubhamtewari commented on #65
hey guys, should i alppy generics to the DataStructures?

[2018-07-10 02:03] maddiecarpenter opened #458 "java"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-10 02:05] y2kbcm1 opened #459 "the explanation of inserting sort can be improved"
The figure of the inserting sort is unclear. For a reader, I would appreciate if there were an explanation of what that each bar in the figure means.

[2018-07-10 02:11] varunu28 commented on #65
@shubhamtewari  Can you please point out which data structures, in particular, you want to apply generics?

[2018-07-10 04:57] shubhamtewari commented on #65
I can start with stacks, then lists, graphs, queues, and heaps.
Essentially I want to apply generics to all the data structures in the
DataStructures directory.
But stated above are where I'd like to start.
On Tue, Jul 10, 2018, 7:42 AM Varun Upadhyay <notifications@github.com>
wrote:

[2018-07-12 02:43] varunu28 commented on #65
Sure. Go ahead.
You can open a PR once you are done with the changes. Go for refactoring the code rather than starting with a blank slate

[2018-07-14 18:34] 1570599338 opened #462 "项目的开发环境和项目导入方式"
你好，请问你使用的开发工具和导入方式？我这边使用的是eclipse开发工具，但是我导入代码后一直报错，谢谢🙏

[2018-07-14 22:30] varunu28 commented on #462
@1570599338 You might be facing an error as we do not have the repo in form of a Java project.

[2018-07-21 18:15] #459 closed

[2018-07-23 10:18] Mudra01 commented on #427
would like to contribute to this isuue.

[2018-07-23 15:30] bansalKeshav opened #464 "Add methods in CoinChange Algorithm"
As currently there is only one method in coin change algorithm which is the number of combinations of getting change for given amount.
I like to add one more method.
the minimum number of coins that make a given value.
@varunu28 can you check, If you are not working on that, I am happy to contribute.

[2018-07-23 15:42] varunu28 commented on #427
@Mudra01 The code has already been added to the repo. [RedBlackBST](https://github.com/TheAlgorithms/Java/blob/master/Data%20Structures/Trees/RedBlackBST.java)

[2018-07-23 15:42] #427 closed

[2018-07-23 15:43] varunu28 commented on #464
@bansalKeshav  Sure you can go ahead to add the method. Just make sure that the existing code style is preserved

[2018-07-23 15:43] #464 closed

[2018-07-23 15:44] varunu28 commented on #437
@Mudra01 Sure go ahead. Just have a look at existing algorithms to avoid duplication

[2018-07-23 15:44] #437 closed

[2018-07-24 21:15] mohasaid opened #465 "Implement A* algorithm in graph section"
I offer myself to add the implementation of A* search algorithm

[2018-07-24 22:01] varunu28 opened #466 "Duplicate directories for Data Structures"
@christianbender There are duplicate directories for Data Structures in the repo. I see your commit on both the repos. Please verify and delete the duplicate directory. Also make sure that no existing algorithms are missed in the process

@AnupKumarPanwar @dynamitechetan  Please have a look

[2018-07-24 22:02] varunu28 commented on #465
You can go ahead by opening a PR

[2018-07-24 22:02] #465 closed

[2018-07-25 06:18] bansalKeshav commented on #464
okay, So I just create a pull request to the master branch or some another branch?

[2018-07-25 14:42] christianbender commented on #466
@varunu28 Yeah, this directory already exists as I take the repository. I thought this have a ground. I fixed the problem. Now we have only one directory named ```DataStructures```.

[2018-07-25 14:49] MarisaAfuera opened #471 "GCD.java placed in Others package doesn't work right"
Greatest divisor common algorithm coded in GDC.java doesn't work when the numbers into the array are arranged in ascending order. I mean, the function gcd(int num1, int num2) works right if the call is gdc(40,24) but doesn't work if the call is gdc(24,40).

[2018-07-25 14:53] christianbender commented on #471
@MarisaAfuera Thanks for bug report.

[2018-07-25 15:00] christianbender commented on #471
@MarisaAfuera
It works for none of this cases: (24,40) or (40,24)
I get various outputs but none of it is correct. The correct answer is 8.

[2018-07-25 15:01] christianbender commented on #471
@MarisaAfuera

No. In this method is the bug. See my comments above.

[2018-07-25 15:08] christianbender commented on #471
@MarisaAfuera I fixed it.

[2018-07-25 15:08] #471 closed

[2018-07-25 15:12] #466 closed

[2018-07-25 15:16] #458 closed

[2018-07-25 15:16] #431 closed

[2018-07-25 15:17] christianbender commented on #462
@1570599338 Please write in english because we are international.

[2018-07-25 15:17] #462 closed

[2018-07-25 15:18] christianbender commented on #426
@nikitap492 I fixed it. Now we have only one directory for data structures.

[2018-07-25 15:18] #426 closed

[2018-07-25 15:18] #104 closed

[2018-07-25 15:19] #416 closed

[2018-07-25 15:19] #49 closed

[2018-07-25 15:29] varunu28 commented on #466
@christianbender Thanks

[2018-07-25 15:43] MarisaAfuera commented on #471
Hi Christian,

I'm novice in github. I'm looking for contribute making some code. It
doen't matter new code or fixing old one. If I can help you in any way, I'm
willing.

*Sincerely*

Marisa Afuera

2018-07-25 17:08 GMT+02:00 Christian Bender <notifications@github.com>:

[2018-07-25 21:29] #20 closed

[2018-07-25 21:31] #89 closed

[2018-07-25 21:42] MarisaAfuera commented on #471
Ok. I'll work in order to improve the code.

Marisa

El mié., 25 jul. 2018 23:28, Christian Bender <notifications@github.com>
escribió:

[2018-07-25 21:49] varunu28 commented on #454
@BelmoMusta If you would like to take up on this issue then go ahead by opening a PR.

[2018-07-25 21:49] #454 closed

[2018-07-25 22:18] #96 closed

[2018-07-25 22:19] #65 closed

[2018-07-25 22:20] #167 closed

[2018-07-29 15:48] MarisaAfuera opened #473 "Add me like a contributor"
Hi,
Christian Bender told me that I can fix code style issues. I'm studying how to work in this repository. If I'm right I need to add an issue in order someone (maybe a robot) add me like a contributor in this repository.

[2018-07-29 17:33] varunu28 opened #474 "Convert the repository into a Java project"
@christianbender @AnupKumarPanwar @dynamitechetan

This is something which something which we have discussed in the past and have been raised by multiple users of the repo. The repo can be converted to a complete Java project with correct package structure, JUnit tests and Java language standard checkers. I want that anyone who is adding a new algorithm should add respective tests and follow a set

[2018-07-29 18:01] burnz248 commented on #474
Hey Anup. I would like to help with this as well. Let me know what you need help with

[2018-07-29 19:13] mohasaid opened #475 "Cannot create a pull request"
I'm trying to create a new pull request, I cloned the project and created a new branch from master, I added a new class, and when I try to create a new pull request to master it gives me:

"Can't Create Pull Request
			Push failed:
			HttpRequestException encountered.
			unable to access 'https://github.com/TheAlgorithms/Java.git/': The requested URL returned error: 403"

I think the problem is th

[2018-07-29 20:02] mohasaid commented on #475
Okay, thanks I will try forking it.

[2018-07-30 11:19] MarisaAfuera opened #477 "Modified ClosestPair.java to be compliant with style sun rules for java code"
I've modified ClosestPair.java following checkstyle sun rules for java. I attach the new file. Like .java files aren't supported I've changed file extension .java by .txt

I can't make a Pull Request because I need permision to create a new branch. I learned to make a Pull Request in GithubSchool, and there I can make a Pull Request because a bot adds me as collaborator. But I'm not a collaborator

[2018-07-30 11:24] MarisaAfuera commented on #474
Hi Anup. Great idea. I also can help if you need.

[2018-07-30 16:04] varunu28 commented on #477
@MarisaAfuera Just fork the repo by clicking the fork on top right corner. Then add the changes to forked repo and create a PR from forked repo to Master

[2018-07-30 16:04] #477 closed

[2018-07-31 07:28] MarisaAfuera commented on #477
Hi Varun,

I've created a fork and made a pull request. Now the pull request is in my
fork but not in master. Did I make all right? Do I have to make anything
more?

Thanks in advance

Marisa

2018-07-30 18:05 GMT+02:00 Varun Upadhyay <notifications@github.com>:

[2018-07-31 18:15] varunu28 commented on #477
@MarisaAfuera There is no pull request from your fork to main repo. Make sure while opening the pull request you choose the correct from and to repos.

Follow the link below:

[Pull Request](https://help.github.com/articles/creating-a-pull-request/)

[2018-08-01 07:27] MarisaAfuera commented on #477
@Varun now I've made the pull resquest. It's a littles mess, because there
are two commits but only one new file ClosestFile.java. I hope to make
better next time.

Marisa

2018-07-31 20:16 GMT+02:00 Varun Upadhyay <notifications@github.com>:

[2018-08-03 02:59] rahul-vishwadhaar commented on #474
Hello Anup,

This seems to be great thing. Please let me know if I can contribute.

[2018-08-04 03:43] ahmedsameha1 commented on #474
I'm in.

[2018-08-05 21:15] habibu commented on #474
Also, I am in and happy to contributes

[2018-08-10 03:39] lq920320 commented on #474
So great, happy to join and contributes.

[2018-08-10 10:23] amalChandran opened #482 "Links in readme not loading pages"
Tying to open links within readme like graphs or trees. All taking me to a 404 page.

[2018-08-10 13:41] varunu28 commented on #482
@amalChandran  Thanks for pointing that out. I see that the link points to an old directory. Do you want to make a PR for updating the README?

[2018-08-10 14:30] amalChandran commented on #482
Sure why not :)

On Fri, Aug 10, 2018 at 7:11 PM Varun Upadhyay <notifications@github.com>
wrote:

--
-
Amal

[2018-08-10 16:47] varunu28 commented on #482
@amalChandran You can update the README by changing the incorrect links and point them to correct Data Structures directory.
[Correct Base Directory](https://github.com/TheAlgorithms/Java/tree/master/DataStructures)

[2018-08-10 16:47] #482 closed

[2018-08-10 19:52] amalChandran commented on #482
Varun,

 Do take a look at the pull request.

-
Amal

On Fri, Aug 10, 2018 at 10:18 PM Varun Upadhyay <notifications@github.com>
wrote:

--
-
Amal

[2018-08-14 01:29] xiaomabuchicao commented on #474
我还以为不能说中文

[2018-08-15 04:12] MayV commented on #474
I'd like to help and contribute.

[2018-08-15 04:14] esarella commented on #474
Presently working on solving most problems. I'm more than willing to help and contribute.

[2018-08-15 17:13] asdiamond commented on #474
I can definitely help and contribute to this.

[2018-08-20 02:14] giannisal commented on #474
I'd love to contribute to make this repo a java project.

From what I've seen so far, the development branch is identical to the master in terms of structure and content. I'm used to working with maven in Java, however I saw that the scala repo is based on Travis CI. Would you like me to work on either of them, create the project and test for some of the existing classes?

[2018-08-23 21:14] varunu28 commented on #474
@giannisal @channel I initially created the development branch. I would move the code to that branch in a project structure by the weekend and would update the README for the test case format. After that we can start accepting contributions to the development branch for the tests
We are using ScalaTest spec in the Java repo

[2018-08-24 17:33] varunu28 commented on #474
I have updated the development branch and added a instructions to the README. We can start with the migration.

@christianbender Please make sure every PR is adhering to the points mentioned in README on [Development branch](https://github.com/TheAlgorithms/Java/tree/Development)

[2018-08-25 05:07] lq920320 commented on #474
which build tool should be used, maven or gradle? @varunu28  I didn't see on the Development branch.

[2018-08-25 05:08] asdiamond commented on #474
What about bazel?

[2018-08-25 14:35] SatyaPrakashDwibedi commented on #474
Hi, all I have started working on sorting algorithms
@varunu28  Are we following java 1.8 here?

[2018-08-25 14:48] varunu28 commented on #474
@SatyaPrakashDwibedi  Yes. We are following Java 1.8.

[2018-08-27 00:56] Leoat12 commented on #474
I'm happy to contribute as well. :)
Just to understand better, it is to transfer the already done algorithms from master to the new branch, in the appropriate package and then make test cases for them, right?

[2018-08-27 02:07] varunu28 commented on #474
@Leoat12 Exactly(While following the correct coding standards and practices)
So just have a look at the README in development branch and if you see some code which is not according to the Java standard coding guidelines then feel free to refractor it.

[2018-08-27 16:33] MarisaAfuera commented on #474
I would like some help to collaborate with you. When I read Steps to raise a PR, what do you mean with "by using the command git checkout Development". Where do I write this commad? In my local repo or in the github web?

[2018-08-27 16:35] varunu28 commented on #474
@MarisaAfuera You would have to fork the repo first and then when you ```cd``` into the repo on your local machine, you need to switch to development branch using ```git checkout Development```

[2018-08-27 16:41] MarisaAfuera commented on #474
@Varun I'm going to try it from eclipse. Thank you.

El lun., 27 ago. 2018 a las 18:35, Varun Upadhyay (<notifications@github.com>)
escribió:

[2018-08-27 17:10] varunu28 commented on #474
@MarisaAfuera I suppose eclipse also has a very good Git support(Not sure about exact setup)

If you face any issues on eclipse, I would advice you to run this command through a terminal

[2018-08-27 21:48] MarisaAfuera commented on #474
@varun. Thanks. I have installed a plugin for git. I could change the
repository in my local environment to development. Now I look for something
to do.

El lun., 27 ago. 2018 19:10, Varun Upadhyay <notifications@github.com>
escribió:

[2018-08-27 22:45] burnz248 commented on #474
@varunu28 is there any progress on this issue? if not much, I will work on this tonight, and create a PR

[2018-08-27 23:01] varunu28 commented on #474
@burnz248 The Development branch is created and instructions for opening a PR have been updated in the README of the branch

[2018-08-28 00:51] gkhays opened #492 "Do you need a visualization for the Skyline Problem?"
I like the repository! I found it browsing through the trending projects.

I was inspired by the `SkylineProblem` to do a visualization to illustrate how it works; see https://github.com/gkhays/skyline-problem. If there is any interest, I am willing to adapt it to project guidelines and submit a pull request.

![demo](https://user-images.githubusercontent.com/773981/44694325-6be42280-aa32-11e8-8d8

[2018-08-28 01:55] Leoat12 commented on #474
After forking, cloning and checking out to the Development I noticed that the structure of the project is not conventional, at least as I far as I've seen. The structure we usually see is this:
+ src\main\java\com\example
+ src\test\java\com\example

With this we have the same packages for both source and tests: com.example
I don't know about Eclipse because I will not using it right now, but Inte

[2018-08-28 02:15] varunu28 commented on #492
@gkhays It is a typical interview problem and not an algorithm. We want to keep the implementations of well-known algorithms and not the implementations of problems on online judges

[2018-08-28 02:15] #492 closed

[2018-08-28 02:27] varunu28 commented on #474
@asdiamond As of now we are not considering any build tool. We are focussing on building a basic java project with complete test coverage.

[2018-08-28 15:26] MarisaAfuera commented on #474
@Varun @Leonardo @Aleksandr Althought there are a lot of ways to make
package structure, I think that we must to have an standard way for the
project.

I've seen that for PR "add Test for InsertionSort #494", the autor has
created the test package. Maybe because there aren't enough details in
readme file.

Maybe you can add in readme.md of the DEVELOPMENT branch:

- Follow the correct coding guide

[2018-08-28 15:52] nikhilbarar opened #495 "N Queen Problem"
https://en.wikipedia.org/wiki/Eight_queens_puzzle

[2018-08-28 15:55] nikhilbarar opened #496 "Kruskal's Algorithm"
https://en.wikipedia.org/wiki/Kruskal's_algorithm

[2018-08-28 15:56] nikhilbarar opened #497 "Prim's Algorithm"
https://en.wikipedia.org/wiki/Prim's_algorithm

[2018-08-28 20:17] varunu28 commented on #474
@MarisaAfuera @Leoat12 I have corrected the project structure now.

[2018-08-28 20:21] #497 closed, assigned to nobody

[2018-08-29 04:15] nikhilbarar commented on #495
Hi @varunu28 Should I raise another issue and raise a PR against that?

[2018-08-29 11:33] varunu28 commented on #495
@nikhilbarar You don't need to raise an issue. Just raise a PR.

[2018-08-30 13:25] khalil2535 commented on #474
I Suggest to make a new branch that for this issue and merge it when it's ready or change it to be master branch.
This idea is best thing can be happen to this repo , excited to see it happening soon.

[2018-08-30 21:13] varunu28 commented on #474
@khalil2535 Already created a Development branch and people have started contributing to it. Please refer Development branch for more details

[2018-08-31 19:25] khalil2535 opened #504 "test Integration"
I suggest to use one of the test Integrations that github provides in the market place for <a href="https://github.com/TheAlgorithms/Java/tree/Development">Development</a> branch, that can show test results for any pulled request instantly.

[2018-08-31 20:08] varunu28 commented on #504
@khalil2535 We would be adding an integration in future. We would have to figure out after a discussion which would be the right integration model for the repo and that is on the agenda including creating a complete build pipeline.

As of now our focus is to add complete test coverage for all algorithms and shift the Development to master branch

[2018-08-31 20:08] #504 closed

[2018-09-10 10:26] geyingqi777 opened #515 "各位大神,有没有锦标赛排序"
如题

[2018-09-10 15:41] #515 closed

[2018-09-23 04:44] nitroxplunge opened #520 "Add Degrees to Radians to Conversions"
I think it would be useful to add Degrees to Radians and vice versa to the Conversions section. It's commonly used and I think it fits there.

[2018-09-23 05:28] varunu28 commented on #520
That is a basic mathematical conversion and I don't think that comes under any domain of algorithms. I think you are talking about below conversion, please correct me if you have any other algorithm in mind

[code]

[2018-09-23 05:28] #520 closed

[2018-09-29 18:14] bhati-lokendra commented on #474
@varunu28 hello i am completely new to github . it will great if you would guide me i will love to contribute , currently i am learning java so i can help with all my efforts
thanks

[2018-09-29 18:43] varunu28 commented on #474
Sure @bhati-lokendra . You can start by adding tests to Development branch. Please refer the README before making the changes. Do let me know if you face any issues

[2018-10-01 19:37] NeverMendel commented on #474
What about adding Travis CI in the developement branch?

[2018-10-01 19:53] varunu28 commented on #474
@NeverMendel That would be really helpful for testing as the tests are going to increase with time on the development branch

[2018-10-02 12:29] AnupKumarPanwar commented on #474
Do we really need this? As we are planning to go ahead with a [website](https://github.com/TheAlgorithms/website) also for the organization where students can learn algorithms and their implementation in various programming languages. So for the automated fetching or the code from repositories using Github APIs, I think keeping them in single file codes will be beneficial down the line.

[2018-10-02 13:47] varunu28 commented on #474
@AnupKumarPanwar It would be helpful if a beginner wants to pull the complete project on their local and want to change the code, tests would be beneficial. Also, someone trying to contribute to the repository, tests would be helpful in verifying their changes. The project structure and the test automation teaches the best Java practices along with the algorithms and keeps the repository in a syst

[2018-10-04 07:53] sachincool opened #546 "Compiling error in SinglyLinkedList.java"
In https://github.com/TheAlgorithms/Java/blob/77259b73b18a1eede7cf0e3fe75aeb580e9faf24/DataStructures/Lists/SinglyLinkedList.java#L48

The user is calling for empty constructor but there's none provided.
Results in

[code]
we don't really need an empty constructor simple solution would be to use the parameterzed constructor already built.

[2018-10-08 16:35] rmakynen opened #560 "Other/Dijkshtra.java has some problems. I would like to recommend it's removal."
Other/Dijkshtra.java has some problems:
- Hard-coded magic numbers (1000000l)
- initialization of a very large 2-dimensional array when it is not needed when using another implementation. - No description was given on the input format the algorithm was expecting.
- Poor commenting.
- Name of the algorithm is wrong. Should be "Dijkstra"

I have created a new pull request #559 that has new code for

[2018-10-09 11:03] SatyaPrakashDwibedi commented on #474
Hi, Sorry I couldn't keep up but what I came to know that as we are now migrating to a complete java project structure so we don't just need algorithms but also with test cases right??
If Yes:
        I see that for conversion, search and sorting is done I can go ahead with Compression.
If No:
       Where did I miss??
Thanks

[2018-10-27 14:52] ugurduzel opened #607 "Minor mistake in README"
Minor mistake but still. Average case of quick sort is nlogn not n^2.

[2018-10-28 03:03] #607 closed

[2018-10-31 17:14] Feconiz opened #627 "Creating interfaces"
Hello,
I just started working on this project (and I'm just starting with github in general) but I am suprised that there aren't interfaces for e.g. the searching algos. Something that forces all the searching algorithms to actually have the same structure, something as simple as:
[code]
And then everything else in that package has to implement Search.

Am I missing something or should I Implement

[2018-10-31 17:49] #627 closed

[2018-11-04 04:56] eicky opened #633 "有小伙伴要买阿里云的服务器的吗？新用户购买贼便宜，最低99一年，参团购买https://m.aliyun.com/act/team1111/#/share?params=N.FF7yxCciiM.gr5x2rst"
有小伙伴要买阿里云的服务器的吗？新用户购买贼便宜，最低99一年，参团购买https://m.aliyun.com/act/team1111/#/share?params=N.FF7yxCciiM.gr5x2rst

[2018-11-04 16:51] #633 closed

[2018-11-08 04:07] ales-blaze commented on #474
Hi there, My name is Ales and i am new here and i want to be a contributor to this repo . So, how can i be that one , what are the procedures to follow?

[2018-11-08 04:11] ales-blaze opened #638 "Double Ended queue D.S is not implemented"
And i would like to implement it , Any suggestions?

[2018-11-08 04:31] varunu28 commented on #474
@SatyaPrakashDwibedi You can refer the master branch and add tests for algorithms for which the tests are not present in Development

@ales-blaze Please refer README in Development branch

[2018-11-09 08:12] ales-blaze commented on #474
I had read that and i want to know answer of questions like, will you guys going to assign me which algo i have to implement? or may i choose it by my own?

[2018-11-09 14:07] varunu28 commented on #474
@ales-blaze You can pick up an algorithm present in the master branch for which test cases are yet not implemented and then refactor the code into the module as described on the Development branch along with tests.

[2018-11-10 06:56] ales-blaze opened #641 "Singly Linkedlist implementation can be improved."
I will refactor the code of that data structure and will also try to implement some tests related to it.

[2018-11-10 06:59] ales-blaze commented on #474
I am having issue with the development branch , i posted some issues there ,but no one reacted on it !

[2018-11-10 13:06] ales-blaze opened #642 "SinglyLinkedList implementation can be improved."
I have made the changes in the source code locally but facing accessing issue while pushing it to the repo.
Help, please!

[2018-11-10 14:34] #641 closed

[2018-11-10 14:35] #642 closed

[2018-11-10 14:36] varunu28 commented on #474
@ales-blaze You would need to provide some more details about the issue you are facing while posting a PR

I would suggest you have a look at [GitHub PR](https://help.github.com/articles/creating-a-pull-request-from-a-fork/)

[2018-11-10 17:37] varunu28 commented on #642
@ales-blaze I have already provided you the link for GitHub's guide for a PR. Please refer that.

In the future, if you are opening an issue related to a PR then please provide the exact issue which you are facing along with the logs

[2018-11-13 15:39] Keenan-Ker51 opened #644 "Java/DataStructures/Trees/BinaryTree.java has error with put method"
The binary tree class seems to have an error on line 93, when trying to put more than one int into the tree it throws null pointer exception. I think the reason for this is that it calls the find function, using the value that you would want to add to the tree, so of course the find method will only return a null value, unless you happen to be adding the same value twice.

[2018-11-13 16:38] varunu28 commented on #644
I think this can be solved by adding a null check for the parent before proceeding to the comparison.
@Keenan-Ker51  Can you help with a PR?

[2018-11-13 17:39] ales-blaze commented on #644
I am interested in doing so, wait for your allowance!

[2018-11-13 17:44] varunu28 commented on #644
@ales-blaze
You don't need to wait. You can go ahead and open a PR

[2018-11-14 07:34] ales-blaze commented on #644
Wait, isn't there any way through which a particular person gets the authority to perform a particular task,
To avoid work collisions.

[2018-11-14 14:19] varunu28 commented on #644
@ales-blaze You can just comment in the issue that you are working on it. This would avoid any conflicts.

[2018-12-01 15:03] MonsterNewB opened #651 "use"
Pls use the same JDK version of encoding，Look the red solid，feeling good, XD

[2018-12-06 13:59] SunggyuLee opened #653 "Translate Readme to Korean"
I am interested in Algorithm and I could see this repository on the top.
It would be very helpful to Korean Student who would like to study Algorithm if I make README-KOR.
I would like to make the README.

[2018-12-27 19:25] aravinth2094 opened #667 "Java convention violated"
https://github.com/TheAlgorithms/Java/blob/b9aacd4dcef07d457f80a9320309cdcc8c2cca92/DataStructures/Stacks/Stacks.java#L205

Although having multiple classes inside one file works, it is often against the convention to do so. It would be better to have two separate files named after their purposes, which would make a lot more sense and enhance readability.

[2018-12-29 14:04] chhavi1028 commented on #667
Hi,What you want is to make two different files , one with Array and other with ArrayList?

[2019-01-04 22:46] hayderhassan commented on #667
Hi, this is my first attempt at an open source contribution. I've just made two new files StackArray.java and StackArrayList.java. I've moved the relevant code from Stacks.java into the new corresponding files.
I've opened a pull request @aravinth2094 if you could please have a look at it?

[2019-01-06 01:03] #667 closed

[2019-01-07 22:44] iamsameer06 commented on #653
Not a bad idea

[2019-01-07 23:02] #653 closed

[2019-01-08 04:46] mphz opened #674 "the project is not fully tested and verified"
Would suggest please complie the project before you push to github.

[2019-01-09 10:14] TimotheeChauvin opened #676 "Implementing the Gale Shapley algorithm to solve the stable marriage problem"
I have a working and tested Java implementation of the [Gale Shapley algorithm](https://en.wikipedia.org/wiki/Stable_marriage_problem) (for both the classical case and the case with grouped preferences (Hospitals/Residents problem, or College admissions problem)).

Since I'm new to this project I thought I'd better ask a few questions before doing a PR:
1. Is there a particular reason why the Gale

[2019-01-11 23:41] Reconquista opened #679 "IDEA import project report error"
There are some class name conflicts under the same package

[2019-01-12 19:26] guoxiaoxu opened #680 "help me"
[code]

why is found ``Exception in thread "main" java.lang.NullPointerException``

[2019-01-12 19:51] #680 closed

[2019-01-14 09:16] TimotheeChauvin commented on #676
I'm confused by the absence of answers. I don't want to be insisting, but could anyone quickly help me out here?

[2019-01-14 17:15] ameet20 opened #682 "Compilation Error"
The user is calling for empty constructor but there's none provided.
Results in

[code]

I don't want an empty constructor simple solution would be to use the parameterzed constructor already built.

[2019-01-15 06:47] yanglbme commented on #682
@ameet20 Hello, you can make a pulll request to fix this issue.

[2019-01-15 06:48] yanglbme commented on #679
@Reconquista Thanks for your feeeback. You can make a pull request to fix it.

[2019-01-16 18:49] TimotheeChauvin commented on #676
Thanks @yanglbme, I'll do it soon!

[2019-01-16 18:49] #676 closed

[2019-01-17 08:49] haruntuncay commented on #638
Hello, if this is still needed, I would like to contribute and implement it.
Also, by double ended queue, do you mean a deque ?
Please let me know if I can be assigned to this.
Thanks.

[2019-01-18 12:37] SebastianOner opened #689 "Java/Others/GuassLengendre.java is improperly named"
GuassLengendre is supposed to be GuassLegendre. Unless the typo is fixed, the file will not compile, because the class name is different from the fileName

[2019-01-23 03:57] sbanerjee13 commented on #689
Found this issue annoying as well, please fix.

[2019-01-23 06:05] #689 closed

[2019-01-25 03:59] ddunig2 commented on #682
Is this issue up for grabs?

[2019-01-25 04:00] ddunig2 commented on #682
Is this issue taken?

[2019-01-27 09:48] ulvimardaliyev commented on #682
@yanglbme I think this issue should be closed, should not it?

[2019-01-27 09:58] yanglbme commented on #682
@ulvimardaliyev yep, I'll close it right now. Thanks :)

[2019-01-27 09:58] #682 closed

[2019-01-27 10:02] ulvimardaliyev commented on #546
@yanglbme this should be closed, too

[2019-01-27 10:03] yanglbme commented on #546
@ulvimardaliyev ok, thanks 😄

[2019-01-27 10:03] #546 closed

[2019-01-29 17:20] marcgood96 commented on #644
Should this issue be closed? It seems like themanchangechina fixed it.

[2019-01-29 17:32] varunu28 commented on #644
Yes. Closing it

[2019-01-29 17:32] #644 closed

[2019-02-02 20:42] lprone opened #698 "unnecesary assignation"
https://github.com/TheAlgorithms/Java/blob/46a384b4baee1ef63342915e9fbac3fac64bff14/Dynamic%20Programming/Fibonacci.java#L68

f is already assigned to 1

[2019-02-02 20:49] lprone opened #699 "unused imports"
https://github.com/TheAlgorithms/Java/blob/46a384b4baee1ef63342915e9fbac3fac64bff14/Conversions/HexaDecimalToBinary.java#L1

All this imports can be removed

[2019-02-02 20:51] sac2087 commented on #699
https://github.com/TheAlgorithms/Java/blob/46a384b4baee1ef63342915e9fbac3fac64bff14/Others/RootPrecision.java#L1

only need this import:
`
import java.util.Scanner;
`

[2019-02-02 21:14] lprone opened #700 "wrong heaps package"
https://github.com/TheAlgorithms/Java/blob/46a384b4baee1ef63342915e9fbac3fac64bff14/DataStructures/Heaps/EmptyHeapException.java#L4

Change it to:
`
package DataStructures.Heaps
`

[2019-02-02 21:16] sac2087 commented on #700
https://github.com/TheAlgorithms/Java/blob/46a384b4baee1ef63342915e9fbac3fac64bff14/DataStructures/Heaps/EmptyHeapException.java#L4

[2019-02-02 21:18] sac2087 commented on #700
https://github.com/TheAlgorithms/Java/blob/46a384b4baee1ef63342915e9fbac3fac64bff14/DataStructures/Heaps/Heap.java#L1

[2019-02-02 21:19] sac2087 commented on #700
Same for that classes:
HeapElement
MaxHeap
MinHeap
MinPriorityQueue

[2019-02-03 22:53] lprone opened #704 "unnecesary throw"
https://github.com/TheAlgorithms/Java/blob/f869601a9451c2af01ab51c50a0314e491279c81/Others/Dijkshtra.java#L13

This method never throw exceptions

[2019-02-03 22:54] lprone commented on #704
https://github.com/TheAlgorithms/Java/blob/f869601a9451c2af01ab51c50a0314e491279c81/Dynamic%20Programming/LongestIncreasingSubsequence.java#L9

[2019-02-03 22:55] lprone commented on #704
https://github.com/TheAlgorithms/Java/blob/f869601a9451c2af01ab51c50a0314e491279c81/DataStructures/Heaps/MaxHeap.java#L16

[2019-02-03 22:56] lprone commented on #704
https://github.com/TheAlgorithms/Java/blob/f869601a9451c2af01ab51c50a0314e491279c81/DataStructures/Heaps/MinHeap.java#L19

[2019-02-03 23:58] lprone opened #705 "Wrong assignation"
https://github.com/TheAlgorithms/Java/blob/f869601a9451c2af01ab51c50a0314e491279c81/DataStructures/CSVFile/src/CSVFile.java#L139

change it to:

`
this.seperator = separator;
`

[2019-02-04 08:17] yanglbme commented on #705
@lprone thank you :)

[2019-02-04 08:18] #705 closed

[2019-02-05 05:05] #699 closed

[2019-02-05 05:11] #698 closed

[2019-02-06 02:16] #704 closed

[2019-02-06 16:12] #700 closed

[2019-02-17 12:38] #679 closed

[2019-02-18 11:27] Ezoio commented on #674
Agree!!!!!!

[2019-02-18 19:08] pgupta1795 commented on #638
Hi,Please let me know if this issue can be assigned and implemented?

[2019-02-20 12:03] HeikoAlexanderWeber opened #708 "Fibonacci sequence should start with [0, 1] and not [1, 1]"
# Summary
The Fibonacci sequence is defined by following statement:
_F(n) = F(n-1) + F(n-2) with F(0) = 0 and F(1) = 1_. For reference, please see [The online encyclopedia of integer sequences](https://oeis.org/A000045) as primary reference, leading to other references with more detailed description.
(Older) books sometimes omit the preceding _0_, but this representation is deprecated.

## Current

[2019-02-20 16:49] ales-blaze commented on #708
i will work on it!

[2019-02-26 22:12] HeikoAlexanderWeber commented on #708
@ales-blaze I have already fixed the bug because I was really bored. See the attached PR.

[2019-02-27 01:30] #708 closed

[2019-03-04 19:44] a2937 commented on #474
I want to contribute as well. Does it matter which algorithm and corresponding tests I choose?

[2019-03-05 17:50] varunu28 commented on #474
@a2937 You can go ahead by raising a PR. Just check that the algorithm you are choosing is not already present in the development branch.

[2019-03-10 02:22] LukeBMorrow commented on #474
If you still need a hand, I'd love to help

[2019-03-11 10:51] justStarNew commented on #474
hi,guys.can this project be imported into IDEA

[2019-03-11 14:12] varunu28 commented on #474
@LukeBMorrow You can get started by raising a PR. Please check README on Development branch

[2019-03-11 14:12] varunu28 commented on #474
@justStarNew Yes. It can be

[2019-03-12 01:40] justStarNew commented on #474
@varunu28 I hate to say it, but when i import the project into IDEA,I got this problem.
<img width="1280" alt="5523542951553" src="https://user-images.githubusercontent.com/18233711/54168496-bc404080-44a9-11e9-8a73-d5a995386779.png">
<br>I think it might be IDEA configuration problem,so i mark the src directory as source root.
<img width="1280" alt="5523544203731" src="https://user-images.githubus

[2019-03-13 19:00] burnz248 commented on #474
Unmark the src directory as source root, and mark the "java" directory as
source root.

(I.e. src/main/java)

On Mon, Mar 11, 2019, 21:41 justStarNew <notifications@github.com> wrote:

[2019-03-16 16:46] Egoscio opened #719 "Matrix equality comparison is shallow."
The matrix class and the tests written for it only support shallow comparison. In other words, comparisons only verify whether two matrices have the same reference rather than actually comparing each element in the matrix.

[code]

The above equality should equate to `true`, since a matrix plus the zero matrix is itself (identity property of matrix addition), but instead, it equates to `false`. De

[2019-03-20 04:05] a-deeb commented on #719
would this fix it?

   public boolean equals(Matrix other) {
        //return this == other;
        return this.equals(other);
    }

[2019-03-20 07:38] Egoscio commented on #719
That's going to give you a `StackOverflowError` exception because you're recursively defining the equals function.

[2019-03-22 02:44] #719 closed

[2019-03-26 16:31] dptshah30 opened #727 "shortest path problem"

[2019-03-27 19:28] sil3nthill commented on #727
whats the problem exactly ?can you provide the error or how to produce it ? i would like to make a PR for this

[2019-04-01 16:49] Danpatpang commented on #474
Hi, Great idea. I also can help if you need.

[2019-04-01 21:51] varunu28 commented on #474
@Danpatpang Thanks. Go ahead by raising a PR

[2019-04-02 06:16] Danpatpang commented on #474
Hi, all I have started working on sorting algorithms
@varunu28 Can I implement DepthFirstSearch, BreadthFirstSearch and RadixSort?

[2019-04-02 14:39] varunu28 opened #728 "Binary Search fails on edge cases"
The current binary search fails on bug and was pushed to the master untested. The initial implementation done by me took care of the edge cases in the base exit condition.

@nikitap492 The code was changed by you where the base condition is changed. Was your PR reviewed by someone and did you added the edge case tests?

[2019-04-02 14:40] varunu28 commented on #674
@mphz @Ezoio Agree with both of you. That is why we are making a Development branch which we plan to merge with the master in future. It contains test coverage for all the code on that branch and we are adding tests for each new algorithm pushed to the branch

[2019-04-02 14:40] #674 closed

[2019-04-04 14:27] wangyuan2019 commented on #708
I will try it

[2019-04-06 05:35] gmorcos opened #729 "are there any plans to follow best practices for this repo?"
the following are missing:

- build tool
- correct project structure
- Git best practices

[2019-04-11 20:14] Abhishek-kumar-singh opened #733 "BFS Algorithm for adjacency list implementation of graph."
BFS for the adjacency matrix is already present I would like to contribute BFS for adjacency list implementation of the graph.
Can this be assigned to me?

[2019-04-28 09:34] steverigney opened #741 "Make HeapSort use single stack frame"
Currently the heapsort uses recursion to achieve the bubble-up/bubble-down - as this is tail recursive it could be done inside a loop - and use only one stack frame - preventing potential stack overflow.

I would like to be assigned this if possible.

[2019-05-02 17:29] workinprz commented on #733
Please help

[2019-05-06 20:26] yoyou446 commented on #733
and DFS, using both recursive and non-recursive code perhaps?

[2019-05-06 20:27] yoyou446 commented on #733
Honestly, I think the code would be easier to right then the algorithm summary

[2019-05-08 06:52] twlkyao opened #749 "Conversions/AnyBaseToAnyBase"
The code don't consider the edge case that the input number is out of the range of int.

[2019-05-16 18:00] smitamoonka commented on #474
@varunu28 I can contribute as well, if needed!Thanks

[2019-05-21 13:06] MengqiLin opened #765 "Bugs from FindBugs"
These are the bugs that detected by FindBugs in eclipse
1.	Scariest(3)
1.1	High confidence(1)：

1) Location: Line 32 in Matrix.java
      System.out.println("m3==\"MATRIX\": " + m2.equals("MATRIX"));  //false
Reason: Call to equals() comparing different types

      Bug: Call to DataStructures.Matrix.Matrix.equals(String) in DataStructures.Matrix.Matrix.main(String[])

This method calls equals(Obj

[2019-05-22 01:22] yanglbme commented on #765
Hi @MengqiLin, thanks for comming to report the bugs in branch `master`.

I'll try to fix the bugs

[2019-05-23 19:34] SmitaMoon commented on #474
@varunu28 Is this still on going task?

[2019-05-23 19:59] varunu28 commented on #474
@smitamoonka @SmitaMoon Yes. This is active. Refer to the README on the development branch and raise a PR against Development.

[2019-05-24 08:45] abhijay94 opened #768 "Test Cases for crypto/hash/Sha2.java are failing due to OutOfMemory error"
I tried the running GUnits in src.test.java.com.crypto.hash.Sha2Test and the test cases get ignored because of the following error:
`java.lang.OutOfMemoryError: Requested array size exceeds VM limit
	at java.lang.StringCoding$StringEncoder.encode(StringCoding.java:300)
	at java.lang.StringCoding.encode(StringCoding.java:344)
	at java.lang.StringCoding.encode(StringCoding.java:387)
	at java.lang.St

[2019-05-24 09:31] yanglbme commented on #768
Hi @abhijay94

 I've removed the test case which causes OOM error, and now it's ok.

[2019-05-24 09:31] #768 closed

[2019-05-29 08:04] Seandba opened #771 "File master/DataStructures/Lists/SinglyLinkedList.java line 146 may cause NullPointerException"
In the main method line 146,if you change  myList.deleteNth(1) to  myList.deleteNth(3),3 is the count of list[7 -> 5 -> 11],you will ses (Exception in thread "main" java.lang.NullPointerException),because the postion in the deleteNth() method should from zero to (the count of list minus 1).

[2019-05-29 11:43] abhijay94 commented on #771
@Seandba Pushed the fix for this issue. This is good to be closed now.
https://github.com/TheAlgorithms/Java/pull/772

[2019-05-29 14:26] #771 closed

[2019-05-30 03:16] Seandba opened #773 "File [Java/DataStructures/Lists/DoublyLinkedList.java] method delete() may cause NullPointerException"
If you delete an element which does not exist in the list may cause NullPointerException，
, for example, line 235，change  myList.delete(7)  to myList.delete(99).

[2019-05-30 11:28] #773 closed

[2019-06-03 04:45] MrHeer opened #775 "bug: MaxHeap.toggleUp should determine if there is a parent node."
https://github.com/TheAlgorithms/Java/blob/990b88f72fb14155c4075b1f384808e5b1d80857/DataStructures/Heaps/MaxHeap.java#L49-L56

should determine if there is a parent node while looping. Like this:
[code]

[2019-06-11 18:44] 007aniketkumar commented on #728
varunu28, is the above issue fixed? If not can you provide a few more details?

[2019-06-12 18:33] Nati001 commented on #749
Hi, I want to work on this issue. does anyone already work on it?

[2019-06-13 16:01] varunu28 commented on #728
@007aniketkumar I don't think the issue has been resolved yet. You can test it once and I think it will fail in some borderline cases.
I am not active the Java repo right now but working on the Kotlin side of the project right now.
@yanglbme can guide you on this.

[2019-06-20 05:01] AnupKumarPanwar commented on #474
Actually converting the repo into a Java project will not solve the purpose of this organization. We want to create this organization as an open source learning resource for data structures and algorithms which is easy to understand for beginners also and every program is capable of independent execution. This will also make it convenient to automatically fetch the code and execute it in case we g

[2019-07-01 15:00] darshantumkur opened #784 "Looks like BFS and DFS is missing"
https://github.com/TheAlgorithms/Java/blob/master/DataStructures/Graphs/DFS.java

[2019-07-08 15:40] 1170300115 commented on #741
Hi,I want to work on this issue,anything else working on it?

[2019-07-08 15:52] L170300101 opened #788 "We want to add some contents :"
Hi guys, We've got an assignment to contribute OSS in this semester. we think we can add some algorithms to improve on  this OSS!
We might add 'Kruscal MST', 'Huffman Tree', and 'Fibonacci Heap', 'Van Emde Boas Tree', 'B Tree' also considered.
Those things are what we learned last semester as taking Introduction to Algorithms class
We're gonna try Kruscal MST', 'Huffman Tree' those two things firs

[2019-07-08 15:52] 1170300115 opened #789 "I want to add a Turkey algorithm"

[2019-07-09 19:32] RobertCoulter95 opened #792 "javax.xml.bind.DatatypeConverter Java 11/12"
It seems that you can not import this is the newer versions of java. How can I get around this without using third party software?

[2019-07-13 02:20] 1170500820 commented on #775
I am working on this issue.

[2019-08-16 04:13] Balls-and-Dick-69 opened #810 "Algorithms and Optimization"
How exactly am I supposed to know which of these I am supposed to learn

[2019-08-16 04:21] Balls-and-Dick-69 commented on #792
link to code what are you talking about

[2019-08-16 04:24] Balls-and-Dick-69 opened #812 "Explinations"
There needs to be documentation that explains what these programs are doing how are people supposed to know what they're looking at well for someone like me who's trying to learn this really bad because I'm trying to figure out what stuff does but there's no documentation explaining what it does then I'm stuck

[2019-08-25 12:31] SirWindfield commented on #474
I've added a PR #815 that cleans up the code base to make working on it easier. After it gets merged I'll start with adding tests and all missing algorithms to the repo.

[2019-08-27 14:28] furahadamien opened #816 "algorithms in the others folder are too open ended"
I was going through most of the algorithms in the [others](https://github.com/TheAlgorithms/Java/tree/master/Others) folder, and to me, they appear to be too open-ended and as a result, they fail to tackle most of the edge cases. Most of them are addressing the problem but they are not looking at all sorts of inputs. For example, the [countWords](https://github.com/TheAlgorithms/Java/blob/master/O

[2019-08-28 01:01] yanglbme commented on #816
@furahadamien thanks for your feedback. Could you create a pull request to fix them? PR is welcome in [TheAlgorithms/Java](https://github.com/TheAlgorithms/Java) repository.

[2019-08-28 01:41] #816 closed, assigned to nobody

[2019-09-14 04:20] jayyusi commented on #474
is this still going on ? If yes, I want in on it !! Which algorithms need JUnit tests ?

[2019-09-14 08:02] SirWindfield commented on #474
Just take a look at the development branch. Everything in there is OK. Everything else needs a port plus Junit tests

[2019-09-14 08:43] jayyusi commented on #474
Here's a question before I dive into this.
[CombSort.java](https://github.com/TheAlgorithms/Java/blob/master/Sorts/CombSort.java) exists in the master branch, but doesn't exist in the [development ](https://github.com/TheAlgorithms/Java/tree/Development/src/main/java/com/sorts)branch. So based on what you said, it needs a test, can you confirm ? and what do you mean by port ?
Thanks

[2019-09-14 08:50] SirWindfield commented on #474
If it doesn't exist in development you have to get the code from master and add it to development. After that, you need to write unit tests for it. The tests should cover up most of the behavior of each algorithm. Like exceptions that might be thrown, wrong input formats etc.

By port I meant taking the algorithm from master and adding it to development. They need some tweaking because you don't n

[2019-09-14 09:00] jayyusi commented on #474
Great, thank you, I will get to it soon, I'm gonna do CombSort.java first.

[2019-09-14 22:51] jayyusi commented on #474
I've added PR #825, which has 2 new files:

1) CombSort.java ( copied from master as is, with minor changes to import statements and class interface implementation to accommodate project structure changes )
2) CombSortTest.java ( which has 4 tests within it, Integer, String, Double, Character )

[2019-09-15 03:14] SirWindfield commented on #474
Ye like good.

[2019-09-20 09:18] alameenabolare commented on #812
I totally agree @Balls-and-Dick-69 . There should be some explanatory documentation

[2019-09-20 16:38] Lucasknight opened #858 "Leaflet (Hi guys, I am new to coding and I was watching this youtube video about building maps in leaflet and the map is not showing on when I execute. Can someone please help me debug this?)"
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewpoint" content="width=device-width, initial-scale=1 />
		<title>
		   My map
		</title>

		<link rel="stylesheet" href="lib/leaflet/leaflet.css" />
		<script scr="lib/leaflet/leaflet.js"></script>
		<script scr="data/countries.geojson"></script>
		<style type="text/css">
			#map {height : 400px; }
			</style>

		</head>
<b

[2019-09-20 16:40] Lucasknight commented on #858
![code](https://user-images.githubusercontent.com/38246935/65343745-4be74a00-dbc5-11e9-89cc-96812e68d481.JPG)

[2019-09-25 18:46] alissonrenan95 commented on #858
Hello,
you should have an access token or key for use map api. https://www.mapbox.com/ sign up and generate an access token.

<html>
<head>
<style type="text/css">
#map {height : 100%; }
</style>
<link rel="stylesheet"

href="lib/leaflet/leaflet.css">
<script src="lib/leaflet/leaflet.js"></script>
</head>
My map

<body>
<div id="map"></div>
<script>
var map = L.map('map').setView([43.8476, 18.3564

[2019-09-25 18:46] alissonrenan95 commented on #858
Hello,
you should have an access token or key for use map api. https://www.mapbox.com/ sign up and generate an access token.

`<html>
<head>
<style type="text/css">
#map {height : 100%; }
</style>
<link rel="stylesheet"

href="lib/leaflet/leaflet.css">
<script src="lib/leaflet/leaflet.js"></script>
</head>
My map

<body>
<div id="map"></div>
<script>
var map = L.map('map').setView([43.8476, 18.356

[2019-09-25 18:50] alissonrenan95 commented on #858
Hello,
you should have an access token or key for use map api. https://www.mapbox.com/ sign up and generate an access token.
[test.zip](https://github.com/TheAlgorithms/Java/files/3654290/test.zip)

[2019-09-28 06:39] renjithgr commented on #474
Hi all,
I raised a pull request to change the build tool from Maven to Gradle. https://github.com/TheAlgorithms/Java/pull/902

Nowadays, Gradle is the most common build tool for new Java projects.

[2019-10-01 10:04] rishabhkumarnigam opened #934 "GCD implementation"
Can I get a chance to add the implementation for GCD in the Math Package

[2019-10-01 10:10] #934 closed

[2019-10-02 04:49] sahilgenius1 commented on #789
Can i take this issue

[2019-10-04 02:11] somaditya opened #956 "Bisection search"
Math section could also include bisection search to approximate square root.

[2019-10-04 15:14] ani03sha opened #965 "README for design patterns"
There should be a README file for each type of design pattern which should include the following points-
- Description of the design pattern
- Common use cases of that design pattern
- Explanation of the code

[2019-10-05 04:03] asha15 commented on #965
Shall i work on this?

[2019-10-05 06:02] lakshay761 commented on #810
Start from basic sorting and searching then move onto some more challenging data structures and then harder topics like Dynamic Programming.
Read theory about topics before diving straight into the code otherwise, it can be very difficult.

[2019-10-05 11:51] leafgecko commented on #810
@Balls-and-Dick-69 I hope this guides would help you.
If you are new to coding, I suggest following the curriculum here [https://courses.csail.mit.edu/6.006/fall11/notes.shtml](url)
A good way to start is the sorting algos: Insertion, Merge, Heap, Trees (Binary/AVL)
Understanding Big-Oh, Theta, Omega time complexities.
Hashing, Graphs
Dijkstra pathing
Dynamic Programming

If you cover those alread

[2019-10-05 12:37] ghost opened #971 "Missing Tower of Hanoi and other naturally recursive questions in D.P."

[2019-10-05 12:39] lorderikstark commented on #971
Naturally recursive problems like Tower of Hanoi ,etc. should be provided both an recursive and Dynamic Programming approach.

[2019-10-05 12:41] lorderikstark commented on #956
@somaditya By  bisection search do you mean Binary Search ??

[2019-10-05 12:54] ani03sha commented on #965
@AnupKumarPanwar @christianbender @dynamitechetan can we go forward with this issue?

[2019-10-06 01:44] lujianmei opened #973 "SingleLinkedlist.insertNth will get a infinite loop when insert a node at the end of list"
As titled.

`  public static void main(String args[]) {
        SinglyLinkedList myList = new SinglyLinkedList();

        assert myList.isEmpty();

        myList.insertHead(5);
        myList.insertHead(7);
        myList.insertHead(10);

        myList.display(); // 10 -> 7 -> 5

        myList.deleteHead();

        myList.display(); // 7 -> 5

        myList.insertNth(11, 0);

        myList.

[2019-10-06 03:31] grantrzchan commented on #728
Hi @varunu28 , has this issue been fixed? Perhaps I can work on it?

[2019-10-06 07:51] Sasi-007 commented on #971
Can i take this issue and solve it

[2019-10-06 08:17] Sasi-007 commented on #784
The code doesn't exist their. Can i Take this issue.

[2019-10-06 09:04] Sasi-007 commented on #956
Can i take this issue

[2019-10-06 09:06] Sasi-007 commented on #727
Can i take out this issue

[2019-10-06 09:30] SarcasticNastik commented on #956
I would like to take up this issue.

[2019-10-06 09:32] SarcasticNastik commented on #749
I would like to work on this issue.

[2019-10-06 18:58] Nuthi-Sriram commented on #638
I would like to work on this

[2019-10-07 16:37] Nuthi-Sriram commented on #638
I have submitted a pull request for deque hope you like the code

[2019-10-08 17:59] shellhub commented on #973
Bug fixed, try again

[2019-10-09 01:39] #858 closed

[2019-10-10 14:02] xcidia22 commented on #810
@Balls-and-Dick-69 though this is kind off the topic, but if you also want to try practicing problem solving for data-algorithms please do check: https://www.hackerrank.com/
It's a website in where challenges are created and can be compiled in different languages it is extremely beneficial to most starters in programming and I myself still rely on those challenges to help develop your logical thin

[2019-10-10 16:17] MatheusMuriel opened #1008 "Fix DynamicProgramming/Fibonacci/fibOptimized"
I was comparing the algorithms and realized that fibOptimized is iterating less than it should

![Screenshot](https://imgur.com/Pnc0ZxW.jpg)

[2019-10-11 11:35] swatiprajapati08 commented on #784
BFS and DFS in JAVA #1019

[2019-10-12 18:11] somaditya commented on #956
no, it's for finding square root/cube root

[2019-10-14 14:08] bw-space commented on #973
Can you explain clearly, where are we getting an infinite loop?

[2019-10-19 08:29] somaditya commented on #956
oops, my bad. turns out they are the same thing.

[2019-10-19 08:29] #956 closed

[2019-10-20 00:39] Technerder opened #1091 "DIRECTORY.MD Link is dead"
The DIRECTORY.MD link in the README is dead.

[2019-10-21 10:36] hv-ojha commented on #1091
DIRECTORY.MD doesn't exist in your repository...
Can you please specify what it will contain? if you want I'll create it..

[2019-10-21 11:48] Technerder commented on #1091
It's linked in the README,
https://github.com/TheAlgorithms/Java/blob/master/README.md#algorithms

On Mon., Oct. 21, 2019, 6:37 a.m. Harshvardhan Ojha, <
notifications@github.com> wrote:

[2019-10-22 02:10] SophieYoonseo opened #1106 "I can't read contribution guidelines."
Contributing.md is dead.
I wanna contribute to this project.
If you are ok, I would like to update the Contributing.md with reference to your project "python".
If not, I want you to fix it.

[2019-10-23 02:49] walter-ind opened #1114 "Add license to the repository."
Open source repo(s) should have a valid license which ,if present, officially allows the developers/coders to read and modify it's code.

If you will allow me , I will submit  a PR closing this issue by adding a license to this repository.
Also, suggest me the appropriate license which should be added.

Thanks a lot!

[2019-10-24 06:26] yanglbme commented on #1114
Hi @walter-ind, you can refer to https://github.com/TheAlgorithms/Python/blob/master/LICENSE.md .

[2019-10-24 06:30] yanglbme commented on #1106
Hi @SophieYoonseo, feel free to send a pull request.

[2019-10-24 06:40] #1008 closed

[2019-10-24 11:34] walter-ind commented on #1114
You want me to add MIT license to this repository?
Am I correct?

[2019-10-25 03:40] yanglbme commented on #1114
yep @walter-ind

[2019-10-25 04:19] iamlatin commented on #638
FEDERALGRANTS.COM  nada activo

[2019-10-25 04:25] iamlatin commented on #638
api

[2019-10-25 05:59] #1114 closed

[2019-10-26 09:19] fclk1212 commented on #810
i  wantto fix to the issue

[2019-10-26 19:12] UmarGit opened #1142 "Please merge the pull request of CountWords_easy.java"
#1136 please merge this pull request it is the easier version of count words.
@qckzr
@AkarshSatija
@daniel-mueller
@Egoscio-zz
@tapaswenipathak

[2019-10-26 19:17] UmarGit commented on #1142
The Link to CountWords_easy.java
[https://github.com/UmarGit/Java/blob/master/Others/CountWords_easy.java](url)

[2019-10-28 05:27] 0xzcs opened #1149 "An error in BubbleSort"
Have error output

        for (int i = 0, size = array.length; i < size - 1; ++i) {
            boolean swapped = false;
            for (int j = 0; j < size - 1 - i; ++j) {
                swapped = less(array[j], array[j + 1]) && swap(array, j, j + 1);
                //swaped is unreliable
                //swapped =swapped | (less(array[j], array[j + 1]) && swap(array, j, j + 1));

[2019-10-28 05:34] 0xzcs commented on #1149
swapped =swapped | (less(array[j], array[j + 1]) && swap(array, j, j + 1));

[2019-10-28 06:25] Abhishek-pandey-1998 opened #1151 "Main method not defined"
at the time of compilation it shows Main method not defined

[2019-10-28 08:03] #1151 closed

[2019-10-29 07:47] walter-ind commented on #1106
@yanglbme Should I take up this issue?

[2019-10-31 07:36] #1149 closed

[2019-11-06 05:25] ID-tangrenhui opened #1164 "find one bug in bubbleSort"
I found one bug in bubble sort. the example unsort array is

**the error function is**
    public <T extends Comparable<T>> T[] sort(T array[]) {
        for (int i = 0, size = array.length; i < size - 1; ++i) {
            boolean swapped = false;
            for (int j = 0; j < size -1 - i; ++j) {//**Find the smallest one in each cycle**
                swapped = less(array[j], array[j + 1]) &&

[2019-11-07 00:52] lubinSper opened #1165 "双十一服务器咨询"
[服务器双十一]服务器双十一资讯.
1核2G1M40G盘，86元/1年，
2核4G3M40G盘，799元/3年，
2核8G5M40G盘，1399元/3年。
https://www.aliyun.com/1111/2019/group-buying-share?ptCode=21F954521E2091D447FD5730C6DBFD75647C88CF896EF535&userCode=hxk4xpsr&share_source=copy_link
腾讯云：
1核-2G-1M，一年88元。
2核-4G-5M，三年999元。
https://cloud.tencent.com/act/cps/redirect?fromSource=gwzcw.3018172.3018172.3018172&redirect=10140&cps_key=95fca64fa1546e1a44acc36c81ff

[2019-11-07 01:01] #1165 closed

[2019-11-17 13:08] Abubakar548 commented on #1164
i can fix it but can you tell me where is MAIN CLASS so i would run and test it

[2019-11-17 13:35] Abubakar548 commented on #1164
i have fixed the issue can you please tell how can push it?

[2019-11-17 13:57] Abubakar548 commented on #1164
please check this
[BubbleSort.zip](https://github.com/TheAlgorithms/Java/files/3855617/BubbleSort.zip)

[2019-11-17 14:32] Abubakar548 commented on #1164
Kindly Please do check my commit.

[2019-11-17 14:51] Abubakar548 commented on #973
not getting inifite loop when inserting at end using  "SingleLinkedlist.insertNth"

[2019-11-18 01:15] ID-tangrenhui commented on #1164
I ran the code again and got the right results. You fixed the bug. Great

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Abubakar Khawaja"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月17日(星期天) 晚上10:33
收件人:&nbsp;"TheAlgorithms/Java"<Java@noreply.github.com&gt;;
抄送:&nbsp;"小汤"<1220474269@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [TheAlgorithms/Java] find one

[2019-11-18 01:15] ID-tangrenhui commented on #1164
I ran the code again and got the right results. You fixed the bug. Great

[2019-11-18 01:15] #1164 closed

[2019-11-19 08:35] guangyingmodao opened #1170 "method name is wrong"
java/maths/findMin.java
find min  but the method name is findMax

[2019-11-19 08:39] yanglbme commented on #1170
@guangyingmodao thanks for your feedback.

[2019-11-19 08:40] #1170 closed

[2019-11-20 04:02] houge002 opened #1172 "java架构师视频"
https://docs.qq.com/sheet/DWktzSnVXam5ZVk9J?c=D19A0A0

[2019-11-20 04:05] #1172 closed

[2019-12-03 09:56] fuaokai commented on #1164
for (int i = 0, size = array.length; i < size - 1; ++i) {
            boolean swapped = false;
            for (int j = 0; j < size - 1 - i; ++j) {
                //判断当前j是否小于j+1元素，如果小于，则进行交换，不断重复，每次将最小的元素放到末尾
                if (swapped) {
                    swapped = less(array[j], array[j + 1]) && swap(array, j, j + 1);
                    swapped = true;
                } else {

[2019-12-06 03:47] 09275211821 opened #1179 "very good"
thinkphp

[2019-12-06 09:52] #1179 closed

[2019-12-06 22:01] mdr20091 commented on #965
mn

[2019-12-08 08:29] yanglbme commented on #1142
https://github.com/TheAlgorithms/Java/blob/master/Others/CountWords.java

[2019-12-08 08:29] #1142 closed

[2019-12-20 18:37] himalaya-kumar opened #1188 "Can object pooling be added to the code?"
Can object pooling(Algorithm) be added to the code? If it is already there can anybody point to it.
Thanks

[2019-12-26 15:48] Saptarsi98 opened #1191 "Armstrong number checking"
Hello,I am new to open source contributing.I was going through the codes and i found that the code for armstrong number checking is missing.Hence i would like to add it to the project

[2019-12-27 10:42] liurongdev opened #1193 "is it a bug?"
the file **java/DataStructures/Trees/BinaryTree.java** maybe **wrong** about in **remove** function .
[code]

l think the right code is:

[code]
Am I thinking right？

[2019-12-30 12:36] #1191 closed

[2020-01-01 08:27] valerydec17 opened #1198 "It seems Fast Fourier Transform is missing for Java"

[2020-01-14 08:46] hdr893487191 commented on #1193
I think so

[2020-01-22 11:19] kostogls opened #1206 "hey, could i add some algorithms in maths?"

[2020-01-22 12:24] stepfencurryxiao commented on #1206
Hi, you could fork the repo and pull a request:)

[2020-01-23 17:52] DekasDimitrios opened #1210 "Could i add some Memory Management algorithms?"
Hello,
          I would like to contribute to the project by adding Memory Management algorithms like Best/Worst Fit etc.

[2020-01-25 00:18] stepfencurryxiao commented on #1210
Hi, you could fork the repo and pull a request:-)

[2020-01-26 05:07] DekasDimitrios commented on #1210
Should i create a new folder named "Memory Management" or just add them to the "Others" folder?

[2020-01-26 05:30] stepfencurryxiao commented on #1210
You'd better add it to "others":-)

[2020-01-26 05:41] DekasDimitrios commented on #1210
I'll pull request soon, will you be able to review it? :)

[2020-01-26 05:50] stepfencurryxiao commented on #1210
@DekasDimitrios  Welcome to pull a request! I will review it.

[2020-01-26 06:23] stepfencurryxiao commented on #1193
@liurongdev ,Thank for you finding the bug!
I fix it in this [commit](https://github.com/TheAlgorithms/Java/commit/be6b25946a652a80139ed57429dce86b10b8d256).

[2020-01-26 06:23] #1193 closed

[2020-01-29 08:44] faizan2700 commented on #1198
is someone working on this.

[2020-01-29 08:44] faizan2700 commented on #1198
I will look into it if I can do something.

[2020-02-02 15:53] sagnik-chatterjee commented on #1198
Hi , can i solve this issue ?

[2020-02-03 03:48] valerydec17 commented on #1198
I am not a person who accepts merges.

[2020-02-04 09:10] sagnik-chatterjee commented on #1198
If someone could see my pull requests , and could suggest some changes or merge them ..??

[2020-02-13 13:46] XmchxUp opened #1224 "ShellSort Wrong"
I tried your code, find error.
Please check it your code.

I think so this. (My english is bad,Sorry. I'm studying hard.)

          for (int i = gap; i < length; i++) {
                int j;
                T temp = array[i];
                for (j = i; j >= gap && less(temp, array[j - gap]); j -= gap) {
                    array[j] = array[j - gap];
                }
                array[j] =

[2020-02-13 14:17] mikegikas commented on #1224
it was working before you change it?
if i am correct you change the following lines
T temp = array[i];
array[j] = temp;

[2020-02-13 18:40] DarthGrave commented on #1224
yeah it work before

On Thu, Feb 13, 2020, 10:18 PM Mike Gikas, <notifications@github.com> wrote:

[2020-02-29 13:00] hakan0arslan commented on #792
He is talking about https://github.com/TheAlgorithms/Java/blob/master/ciphers/AESEncryption.java this class javax.xml.bind.DatatypeConverter is deprecated on OpenJdk 11. I made a pull request for this.  https://github.com/TheAlgorithms/Java/pull/1230 . This approach is faster because DataTypeConverter is using StringBuilder. More on that https://stackoverflow.com/questions/9655181/how-to-convert-a

[2020-03-01 09:28] BenceLakos opened #1231 "Maven central accepts only https"
# Maven central HTTPS

At the moment, the Development branch doesn't compile because of the maven central url. From January 15, the repository only accepts https request.

[2020-03-01 10:35] Erasiel opened #1234 "Can I add convex hull algorithms, some missing graph algos and hashing?"
I would like to add the following algorithms:
- Convex hull:
  - Graham scan
  - Jarvis march
  - Chan's algorithm
  - Kirkpatrick-Seidel algorithm
- Johnson's shortest paths algorithm
- Vertex coloring
- HashMap variants using open addressing

[2020-03-01 14:18] balogkkinga opened #1235 "Can I add some missing algorithms?"
- Kruskal
- Huffman
- A*
- Bucket sort
- Uniform cost search
- Gale-Shapley

[2020-03-01 21:00] SeresGergo opened #1236 "May i add some non-implemented algorithms?"
I would like to implement the following algorithms:
- Fibonacci heap
- Binomial heap
- Rabin-Karp
- B-Tree
- Ordered Sample Tree
- Median of medians
- Modular exponentiation

[2020-03-01 21:06] ilotam opened #1237 "I would like to add some missing algorithms"
I would like to add the following algorithms:

- Catalan numbers
- Tower of Hanoi
- Interval tree
- Breadth First Search (BFS)
- Diameter of graph

Can I implement these?

[2020-03-01 22:09] vorosaaa opened #1238 "Algorithms that should be implemented"
Hi
I would like to add the following algorithms to the code:

- Minimax

- Minimax with alpha-beta pruning

- Topological sort

- DFS

- Sleep sort

[2020-03-04 05:34] tamnt28 opened #1239 "test"
1

[2020-03-06 00:41] #1239 closed

[2020-03-09 18:11] iheb1196 commented on #1238
Hi
I think you could implements whatever algorithms you want , you should provide test cases

[2020-03-17 03:29] BanQiaoGeXia opened #1246 "Optimize method flip in SortUtils"
static <T extends Comparable<T>> void flip(T[] array, int left, int right) {
        while (left <= right) {
            swap(array, left++, right--);
        }
    }
Change 'left <= right' to 'left < right', can  improve efficiency in some cases

[2020-03-17 06:45] BanQiaoGeXia opened #1248 "some"

[2020-03-17 06:45] #1248 closed

[2020-03-17 06:50] BanQiaoGeXia opened #1249 "Some disappeared algorithms"
Hi there!
I found some algorithms in branch <master> dosn't in branch <Development>
like Sorts/BogoSort, Sorts/PancakeSort and mant others.
Should I take them into branch <Development>?
Looking forward to reply.
Thank all.

[2020-03-18 10:14] BanQiaoGeXia opened #1250 "Bug in Sorts/CycleSort"
When the length of unsorted array less than 3, there do nothing.
if the length of unsorted array is 2, this may be the wrong answer

[2020-03-20 19:50] 0NicK0 opened #1252 "Java"

[2020-03-21 01:03] stepfencurryxiao commented on #1250
Let me see.Thank you!

[2020-03-21 14:26] nekitlenin opened #1254 "Aurora"
- Kek_[@](https://youtu.be/dH4NdRrtoXw)_

[2020-03-24 10:56] Dikshit-Kapoor commented on #1235
There are many more algorithms:
1. Soundex Algorithm
2. CAS algorithm
3. Password Encryption using MD5,SHA.
4. Advanced Encryption standard algorithm.
5. Garbage collection algorithm.

[2020-03-26 19:43] iheb1196 commented on #1106
switch on the development branch and then you'll find the contribution guide line.good luck

[2020-03-31 14:19] userNiladriDas opened #1263 "Tusk"
**recipe s**

[2020-04-03 14:08] 7manu opened #1264 "Java"

[2020-04-08 09:48] #1264 closed

[2020-04-08 09:48] #1263 closed

[2020-04-08 09:48] #1254 closed

[2020-04-08 09:49] #1252 closed

[2020-04-09 19:03] alisalehinia opened #1268 "java"

[2020-04-10 07:41] pranavnan opened #1269 "JavaAlgo"

[2020-04-10 13:12] quackduck commented on #788
Okay! Fork this repo,  commit your changes and make a pull request

[2020-04-10 15:05] John-Zoid opened #1271 "Java"

[2020-04-11 07:30] Ayush-goals opened #1274 "Hello"

[2020-04-12 13:18] StepfenShawn commented on #1274
Hi

[2020-04-12 13:18] #1274 closed

[2020-04-12 13:18] #1271 closed

[2020-04-12 13:19] #1268 closed

[2020-04-12 13:19] #1269 closed

[2020-04-14 00:30] futaaaa opened #1276 "Java"

[2020-04-14 00:30] #1276 closed

[2020-04-16 07:22] gnehsuy opened #1277 "1元秒杀！Flink 从入门到进阶，大厂必备的大数据前沿技术，42 讲带你轻松通关！(1元优惠仅限4月16日晚24点以前)，点此获取☞"
![10ce3ae3d1c98a93cb98236ceca5548](https://user-images.githubusercontent.com/13401581/79426641-03c2c580-7ff6-11ea-88d4-7c941443fb4c.png)

[2020-04-16 08:23] gnehsuy opened #1278 "spark实战课程，点此获取☞"
![33d4ce739f72c28921b6430e25cc4a9](https://user-images.githubusercontent.com/13401581/79432525-7d5eb180-7ffe-11ea-96be-1dd5df29e499.png)

[2020-04-16 11:32] #1278 closed

[2020-04-16 11:32] #1277 closed

[2020-04-17 04:21] abhaytomer opened #1280 "Java"

[2020-04-17 06:27] #1280 closed

[2020-04-17 06:55] Isia-pixel opened #1281 "Hello"

[2020-04-17 15:07] #1281 closed

[2020-04-20 20:58] diallocheikh007 opened #1282 "Algorithms classes"
New open source for java main project initiative

[2020-04-24 17:07] Milad-Mohamadi opened #1284 "Tnx"
Thank you

[2020-04-24 20:46] OscarSanner opened #1285 "CONTRIBUTING.md doesn't appear to have any content"
Contributing.md doesn't doesn't appear to contain any actual guidlines, and the link only leads back to the same document: Java/CONTRIBUTING.md.

[2020-04-26 14:13] MohamedBechir opened #1286 "Add linked list"
Linked lists are powerful data structures which are very useful when you need to do a lot of insertions and removals!

[2020-04-26 18:42] shrey6045 commented on #1286
Correct. Moreover implementing Linked List also tends to increase the efficiency of the code.

[2020-04-27 14:28] MohamedBechir commented on #1286
@qckzr @AkarshSatija @anirudhmurali  do i start working on it ?

[2020-04-27 17:21] ICEICEICE3 opened #1287 "Hi"
I'm new to this.

[2020-04-27 17:21] #1287 closed

[2020-04-27 19:39] furkanbeydemir commented on #1287
okey thanks

ICEICEICE3 <notifications@github.com>, 27 Nis 2020 Pzt, 20:23 tarihinde
şunu yazdı:

[2020-04-29 03:00] burnz248 commented on #474
Is this still something that needs to be addressed?

[2020-04-29 15:04] iheb1196 opened #1291 "add Intqueue Implementation"
The implementation of integer only queue comes in need when you are working with algorithms handling mathematics!

[2020-04-29 21:20] #1286 closed

[2020-04-29 21:21] MohamedBechir commented on #1286
I added the singly linked list and it was merged, thank you

[2020-04-30 16:45] aks988733 opened #1293 "JavaLab"

[2020-04-30 16:46] aks988733 commented on #1293
Hello world!

[2020-04-30 16:46] aks988733 commented on #1293
Hello world!

[2020-05-01 23:13] MohamedBechir opened #1294 "Add a hashtable"
It is a powerful data structure with time complexity O(1) in inserting, searching and deleting
Can I start working on it?

[2020-05-02 02:42] BenSchokoRiegel opened #1295 "Request for Extension for this Project"
Hello
 my first Issue and my first Pull requests of All-time are a little extension to that Project.
My  PullRequest will contain the following things
 to the Maths Classes
 1) the  Amicable Numbers
2)  the Vampire Numbers
3) Regular pairs of Amicable Numbers

and maybe if I find the Time the One Time Pad or another chipper Algorithm
Hopefully, it is helpful

[2020-05-04 07:45] AlaaElbouhdidi opened #1297 "Add a new Sort Algorithm Sort/BitonicSort"
Hi.
i would like to contribute to the project, by adding a new sort algorithm, namely the BitonicSort algorithm.
Thank you in advance

[2020-05-04 13:23] StepfenShawn commented on #1297
Thank you

[2020-05-04 13:23] #1297 closed

[2020-05-04 18:39] vtolas opened #1299 "implement prime factorization in /maths"
### I would like to add a prime factorization algorithm to the project
what the code should do:

- read positive integer
- output prime factors

[2020-05-04 19:57] vtolas commented on #1299
keep visible

[2020-05-05 01:42] #1293 closed

[2020-05-06 08:11] StepfenShawn commented on #1285
Sorry, there is no one to fix it for the time being :(

[2020-05-06 08:46] StepfenShawn commented on #1250
Thank you for finding it:)

[2020-05-06 08:46] #1250 closed

[2020-05-07 07:03] #1299 closed

[2020-05-07 13:50] #1210 closed

[2020-05-07 13:52] StepfenShawn commented on #1091
The Link is OK now :)

[2020-05-07 13:52] #1091 closed

[2020-05-07 14:38] matkosoric opened #1305 "Luhn mod N algorithm"
Pull for Luhn algorithm is already created, but it would be great to have extension for non-numeric characters.

https://en.wikipedia.org/wiki/Luhn_mod_N_algorithm

[2020-05-09 08:52] joshiujjawal22 opened #1308 "Missing Algorithms"
- Bucket Sort
- Knuth's Morris Pratt (KMP) algorithm
- Lower and Upper bound using binary search
- 3 sum Algorithm
can i add those?

[2020-05-09 15:59] tonnyquintero opened #1309 "Java learn"

[2020-05-10 08:01] SaptarshiBasu-programmer opened #1310 "Hi"
Im Good at Java coding!

[2020-05-10 14:43] #1310 closed

[2020-05-10 14:43] #1309 closed

[2020-05-11 17:30] Varun8129 opened #1311 "New start"

[2020-05-11 17:30] #1311 closed

[2020-05-13 07:39] Pranay-allepally opened #1313 "Xys"

[2020-05-13 16:28] Adhikaribharath commented on #474
Is this still on going task? If so I would like to contribute :)

[2020-05-13 21:13] #1295 closed

[2020-05-15 07:39] prashantkumar-cmd commented on #971
may i fix the bugs in this issue

[2020-05-18 10:16] #1313 closed

[2020-05-18 10:18] deadshotsb commented on #1308
Yes, sure. Please do not wait for permission. Just go ahead and submit pull requests for review.

[2020-05-19 06:50] sourav0v0 opened #1317 "Algorithm for sorting"
I don't know whether this approach is ever used for sorting or not
the algo basically works on finding the smallest in the array and arranging it
[smallestSort.txt](https://github.com/TheAlgorithms/Java/files/4648665/smallestSort.txt)

[2020-05-20 06:35] deadshotsb commented on #1317
Well I think what you are saying is specifically [Selection Sort](https://github.com/TheAlgorithms/Java/blob/master/Sorts/SelectionSort.java).

[2020-05-20 06:35] #1317 closed

[2020-05-23 00:20] Ritik2604 opened #1324 "Missing Binary Search in 3d Array"
Anyone want to try  ??
reference:https://www.codechef.com/UCSD2020/problems/DSLA4

[2020-05-23 00:33] Ritik2604 commented on #1238
that algo are quite important ones do it as soon as possible

[2020-05-23 00:34] Ritik2604 commented on #1236
Yeah feel free to contribute.

[2020-05-24 22:00] Ritik2604 commented on #1294
Yes dont go to seek permission feel free to do

[2020-05-24 22:04] Ritik2604 opened #1327 "Implementing RR Scheduiling using Linked List"
As it is combination of two main topics which make it important
so anybody want to implement can do that

[2020-05-25 20:02] pspjzy opened #1329 "LinkList used in Hashmap class need to be changed to SinglyLinkedList"

[2020-05-28 07:34] himalayanDrifter commented on #728
Hi @varunu28 ,if the issue is still not fixed then I think I am able to solve the issue. Can i?

[2020-05-28 16:36] mishal121 opened #1331 "Java"

[2020-05-28 16:36] #1331 closed

[2020-05-28 22:00] Detective-Khalifah commented on #474
Excellent Idea!

[2020-05-30 16:21] badallogical opened #1332 "Applications of algorithms."
Like how binary search are used in rotated array , peak finding , square root etc. and similarly other algorithms application.

[2020-05-30 16:23] badallogical commented on #1327
yes, i am good to go.

[2020-05-30 18:45] #1308 closed

[2020-05-31 03:24] badallogical commented on #1327
i implemented the process queue with ArrayList, but rest of the items like burstTime uses simple array,
is that right or i need to implement all burstTime, ArrivalTime , WaitingTime, TurnAroundTime , CompletionTime with ArrayList ( linklist)

[2020-05-31 09:14] BAPPYTAWHID opened #1333 "Java"

[2020-05-31 11:40] #1333 closed

[2020-05-31 18:43] xinning1228 opened #1335 "dd"

[2020-05-31 18:47] #1335 closed

[2020-05-31 19:36] tosunpasha0 opened #1336 "Denemr"

[2020-06-01 17:28] AkashK225 opened #1337 "t"
H

[2020-06-02 12:46] sharoha commented on #1305
Can I add a PR for this issue?

[2020-06-02 17:45] #1337 closed

[2020-06-02 17:46] #1336 closed

[2020-06-02 20:29] WaterHashira opened #1340 "Add a LinkedHashSet : )"
It is a powerful class which helps in keeping the record of the elements entered in it while at the same time maintaining the insertion order of the entered elements.

Moreover, it uses a hybrid Data Structure ( having features of both Hash Table as well as             Doubly Linked List.

i would love to work on this project, also, as i'm a beginner i may sometimes need a bit of assistance.
: )

[2020-06-04 18:27] m2dt opened #1342 "Penis"

[2020-06-04 19:10] AppleteeYT commented on #810
שלום חברי

[2020-06-08 12:40] pointhi opened #1345 "StringIndexOutOfBoundsException in Java/Maths/ParseInteger.java"
The function **parseInt** has a missing size check. This leads to a ```StringIndexOutOfBoundsException``` with the following reproducer:

[code]

https://github.com/TheAlgorithms/Java/blob/a60cb58be8b8367d11f14d6f8697b1d612e198e0/Maths/ParseInteger.java#L18-L22

[2020-06-08 17:21] #1342 closed

[2020-06-12 01:22] #1345 closed

[2020-06-12 09:52] deadshotsb commented on #1345
@yanglbme Kindly mention the pull request for which the issue was closed.

[2020-06-29 18:54] thecoderenroute opened #1353 "Fixing errors in 3sum, Selection Sort and BucketSort"
SelectionSort was giving an error regarding passing <T> as a parameter (error)

BucketSort had the wrong class name and no package. (error)

3sum had an unclosed Scanner (warning)

Fixed the above two errors and warning

[2020-06-30 15:32] YUbuntu0109 opened #1356 "throw a exception : linkedList cannot be resovled to a type when i try to run it by vscode"
![image](https://user-images.githubusercontent.com/43493852/86145550-9ff66600-bb29-11ea-8d7c-21b2fbabc0c5.png)

### hey bro it's throw a exception when I try to run it, please tell me how to fix it , I've never use vscode to run java project before.

[2020-06-30 16:35] YUbuntu0109 commented on #1356
if you add some descrption informations about how to run this project maybe it's will be better all right ?

[2020-06-30 20:06] nayanraj210401 commented on #1356
Hey YUbuntu0109 try to import LinkedList class from java.util package and also make sure to add Java Extension in VScode

[2020-07-01 12:58] YUbuntu0109 commented on #1356
ok thanks bro

[2020-07-01 12:58] #1356 closed

[2020-07-07 01:33] #1353 closed

[2020-07-07 03:13] StepfenShawn commented on #1285
#1326

[2020-07-07 03:13] #1285 closed

[2020-07-08 11:02] Abhinav-Sharma-17 opened #1358 "In DataStructures/List/Doublelinkedlist, add feature to delete node whose pointer is passed"
example list : 1->2->3->4
Their pointers are ptr1,ptr2,ptr3 and ptr4 respectively.
So if we pass ptr3 into the function , the new list should be 1->2->4.
Benefits: O(1) implementation

[2020-07-08 23:32] #1224 closed

[2020-07-09 13:31] dasqinxudiyev opened #1360 "A"

[2020-07-10 14:50] #1360 closed

[2020-07-10 16:41] gaushikmr commented on #1327
@Ritik2604 Can u assign me

[2020-07-10 16:42] gaushikmr commented on #1324
@Ritik2604 Can u assign me

[2020-07-10 18:58] vakhokoto opened #1361 "[Feature] Z function implementation"
I can't find Z function implementation here so I will write that. There is a link of an algorithm below.
Z funciton: https://www.geeksforgeeks.org/z-algorithm-linear-time-pattern-searching-algorithm/

[2020-07-19 10:56] Poznia opened #1364 "Java algorithms"

[2020-07-19 11:43] #1364 closed

[2020-07-24 12:27] rjtmahinay opened #1368 "Coverage Testing"
In Implementing a new feature/new algorithms, should the coverage testing way beyond 90% or near 100%?

Any feedback would be a great help.

[2020-07-26 09:55] #1358 closed

[2020-07-26 10:59] tanmaylaud opened #1370 "Add caching algorihms like LFUCache and LRUCache"
We can have a caching package where different caches are implemented

[2020-07-28 13:28] Saqibe opened #1373 "Scanner"

[2020-07-30 02:44] #1373 closed

[2020-07-30 13:45] pmolchanov2002 commented on #1368
Coverage testing is a safety net of your application.

Any changes in the underlining libraries or your own classes should be captured by the unit tests.

It doesn't make sense to cover getters/setters as their implementation is rarely changed. Not covering getters/setters may significantly low your unit-test coverage. I don't think it's a problem.

[2020-07-30 14:09] pmolchanov2002 opened #1374 "Good project"
I like it a lot!

[2020-07-30 19:24] RishabhSharma333 opened #1377 "Maths package ,PowRecursion.java ,Its performance can be improved using divide and Conquer approach"
Performance improvement using divide and Conquer approach(gives O(log(n)) complexity as compared to O(n) complexity)
in PowRecursion.java of Math package.
I have included this approach in pull Request

[2020-07-31 15:23] rjtmahinay commented on #1368
@pmolchanov2002 You're right. But the question is the % of the coverage testing since there is none in the repo documentation (README.md) that states how many % must be covered by the coverage testing.

[2020-07-31 17:07] Zineeddine998 opened #1378 "Add clearAll and index based insertion in DoublyLinkedList and fixed bugs"
#1378

[2020-07-31 17:29] Zineeddine998 commented on #1378
#1379

[2020-07-31 19:21] rbshealy opened #1380 "Add Hashmap implementation with open addressing"
benefits: faster than chaining when the load factor is low

 could also add make bucket array larger functionality when load factor > .7

[2020-08-01 07:18] gjs2012gs18 opened #1381 "Algo"

[2020-08-01 22:13] Karthik-SS commented on #1329
Hi -  I would like to make this change. Please let me know how I can get this assigned to me.

[2020-08-02 00:21] #1381 closed

[2020-08-02 13:40] #1380 closed

[2020-08-02 14:27] ChristinaK97 opened #1384 "Adding missing algorithms"
Hey, I would like to add some missing graph algorithms and I was wondering if there are any particular coding style conventions I have to follow for example regarding the comments. Also should I include unit tests or a simple example on the main method of the class is enough?

[2020-08-03 18:14] varnaa commented on #1384
Refer this [readme](https://github.com/TheAlgorithms/Java/tree/Development#the-algorithms---java-work-in-progress) file.

[2020-08-03 21:42] rbshealy opened #1388 "Add nested linked list and node class to hashmap.java"
hashmap.java does not currently run because it lacks a linked list and node class to reference
I think adding a nested linked list class at the bottom of the file is a good work around while also preserving the organization of the repository. Thoughts?

required methods for linked list:
void insert(int z), void delete(int z), void display()

[2020-08-05 11:52] AidenYoung100 opened #1390 "我"

[2020-08-05 11:58] #1390 closed

[2020-08-06 02:02] to75988070 opened #1392 "Add"

[2020-08-06 02:03] to75988070 commented on #1392
eave

[2020-08-06 21:36] rbshealy opened #1394 "Add javadoc and inline comments to HashMap.java"
The file as it is now is pretty bare and needs to be well-commented. Adding these comments will make the code more readable and understandable to the user.

requirements:
Add a header to all public classes and methods
Add @return and @param where appropriate
Add a description of what the method/class does and why it is implemented
Follow oracle javadoc programming standards
Keep descriptions conci

[2020-08-07 01:00] #1388 closed

[2020-08-07 14:45] #1384 closed

[2020-08-08 14:18] rbshealy opened #1400 "Add javadoc comments to DynamicArray.java"
Similar to the HashMap.java case,

The file as it is now is pretty bare and needs to be well-commented. Adding these comments will make the code more readable and understandable to the user.

requirements:
Add a header to all public classes and methods
Add @return and @param where appropriate
Add a description of what the method/class does and why it is implemented
Follow oracle javadoc programmin

[2020-08-08 17:38] raisahab9125 opened #1403 "Vfx"

[2020-08-13 02:43] #1400 closed

[2020-08-15 15:00] alruhmi opened #1413 "Java the algorithms"

[2020-08-15 17:15] rnitish commented on #1378
#1410

[2020-08-15 21:51] #1378 closed

[2020-08-16 15:01] #1413 closed

[2020-08-17 10:17] Lakhan-Nad opened #1420 "Add Binary Search Tree DS both Iterative and recursive implementation"
I would like to add Binary Search Tree in Java with following methods:
add element
remove element
find element
preorder traversal
inorder traversal
postorder traversal

Each of this methods can be implemented both recursively and iteratively.

[2020-08-18 03:18] leizhenhao commented on #1420
test

[2020-08-18 06:30] Lakhan-Nad commented on #1420
I will add them. @leizhenhao

[2020-08-18 15:36] Lakhan-Nad commented on #1420
@leizhenhao I have added the tests and made some doc changes please review.

[2020-08-19 01:07] #1420 closed

[2020-08-20 02:42] drabbit75 commented on #1374
thank

[2020-08-20 02:42] #1374 closed

[2020-08-26 15:54] ChristinaK97 opened #1438 "PR feedback"
Hi, I raised a PR a few weeks ago where I added a few missing algorithms but I haven't received any feedback. This is my first time contributing on a github project so I was wondering if I did something wrong when I raised the PR.
Thank you in advance!

[2020-08-27 03:52] sumanthsumu1418 opened #1440 "Algi"

[2020-08-27 22:19] stefanie998 opened #1443 "Clase"

[2020-08-27 22:42] rbshealy commented on #1438
This is not a good place to post this. It is better if you reply to your pull request tagging someone and patiently waiting for a review

[2020-08-28 16:06] #1438 closed

[2020-08-29 05:23] #1440 closed

[2020-08-29 05:23] #1443 closed

[2020-09-06 11:44] Ghali255 opened #1446 "Java"

[2020-09-06 17:34] jasonyanwenl opened #1447 "Is there any implementation for the Rope (Cord) data structure?"
Hi, this is my first time come to this great repo. Just would like to ask if you have the implementation for the [Rope/Cord](https://en.wikipedia.org/wiki/Rope_(data_structure)) data structure? I didn't find it in the directory. Thanks!

[2020-09-07 13:24] xiao1i opened #1448 "Java/DataStructures/HashMap/Hashing/HashMap.java. In line100-108, method delete has some problems."
In method delete(Node,int key),if i set hsize=3,then add 2,5,8,11in the bucket 2.When i want to delete 11,this method doesn't work.I think it should be modified as follows:

private void delete(Node n, int key) {
            if(n.getNext().getKey() == key) {
                if(n.getNext().getNext() == null) {
                    n.setNext(null);
                } else {
                    n.setNe

[2020-09-08 15:48] #1446 closed

[2020-09-14 11:06] BridBlue commented on #1448
Hashmap.Node.getKey() return an Object ，so you should try to use equals()

[2020-09-15 11:53] geogiadim commented on #1447
Hi, I could start working on it and contribute this algorithm to this repository. Is that okay?

[2020-09-15 11:59] geogiadim opened #1456 "Round Robin Sceduling Algorithm"
Hi, I see that Round Robin algorithm for cpu scheduling is missing. Could I contribute this algorithm on this repository?

[2020-09-15 13:23] jasonyanwenl commented on #1447
I am not sure who you are asking. From my side, it’s definitely OK. I would like to see the implementation of the ‘split’ operation especially. I searched various blogs about this but found nothing. Thanks!

[2020-09-15 13:24] jasonyanwenl commented on #1447
I am not sure who you are asking. From my side, it’s definitely OK. I would like to see the implementation of the ‘split’ operation especially. I searched various blogs about this but found nothing. Thanks!

[2020-09-16 01:41] EduardoDev1 opened #1458 "Java?"

[2020-09-16 14:00] geogiadim opened #1460 "Contribute a new algorithm"
Hello,
I would like to contribute my implementation for Round Robin algorithm. This is a cpu scheduling algorithm for processes.
I want to push my code in "development" branch as I read in the readme but I don't have the permission.

I will wait for an answer.
Thank you in advanced.

[2020-09-16 14:42] #1458 closed

[2020-09-16 16:49] rjtmahinay commented on #1460
Hi @geogiadim
First you must fork the repository and then push your contribution to your forked repository with development branch. After pushing, submit a pull request.

[2020-09-16 17:52] geogiadim commented on #1460
Hello, thank you for your answer. I ve already done this process.

[2020-09-16 17:53] #1456 closed

[2020-09-16 19:48] diallocheikh007 commented on #1456
Yes thank you

[2020-09-16 19:49] diallocheikh007 opened #1463 "New variable"
CommonApp using data app common

[2020-09-17 04:45] varunvjha opened #1466 "Two-Pointer Algorithm missing"
I want to add this algorithm

[2020-09-17 07:50] #1466 closed

[2020-09-17 07:50] varunvjha commented on #1466
TwoPointers was added.

[2020-09-17 12:06] rjtmahinay commented on #1460
Hi, I suggest to close this issue. Thanks

[2020-09-17 14:49] #1368 closed

[2020-09-18 07:45] arrnavvv opened #1471 "Make changes to Others/PasswordGen.java"
The file: https://github.com/TheAlgorithms/Java/blob/master/Others/PasswordGen.java
The current code doesn't always generate passwords that follow the policy of passwords which are at least 1 lower, 1 upper, 1 number, and 1 special character in your password.
I am attaching an example of one such password generated by the current code.

![Screenshot (1)](https://user-images.githubusercontent.com/6

[2020-09-20 12:16] ghost opened #1472 "How configure jdk"
I configure jdk many of the time. I am still failed please help me. When I used textpad my program does not compile even if it is complety correct...

[2020-09-21 10:20] anilabha commented on #784
I just send a marge request on Graph Algorithms
1.Bellman ford algorithm
2.BFS
3.DFS
4.Prims algorithm
5.Dijkstra algorithm

[2020-09-21 16:27] balamudau opened #1475 "Algorithm"

[2020-09-22 12:27] rjtmahinay commented on #1472
Hi @anwarrahim
What are you encountering during execution of "javac" in command line?

[2020-09-22 15:15] #1475 closed

[2020-09-22 23:04] rjtmahinay commented on #1471
Hi @arrnavvv
If there is no existing "pull request" that fixed that issue. Then, you may worked on it.

[2020-09-23 10:30] geogiadim commented on #1460
Yes, sure. Sorry I just forget it.

[2020-09-23 10:30] #1460 closed

[2020-09-26 13:40] navitkumar03 commented on #1472
Set bin folder path in system variables for enabling javac and any other java commands

[2020-09-26 14:00] jerujor commented on #1472
@anwarrahim remove it and then re-install the programme. Sometimes there are such problems.

[2020-09-28 18:27] jxgrxn commented on #1472
Do you have compatable JDK/IDE?

[2020-09-29 13:45] VishnuPothan opened #1483 "Add exponential search"
To add Exponential search to the search package. I see there is no exponential search in the search so can I add that.

[2020-09-29 14:23] superjacky-apichai opened #1484 "Algorithms"

[2020-09-29 14:24] #1484 closed, assigned to nobody

[2020-09-30 16:06] rjtmahinay commented on #1483
@vishnu0pothan If there is no exponential search in both master and Development branch. you may implement that under the Development branch and submit a PR.

[2020-10-01 11:07] Spardha-hash commented on #1472
Firstly download the compatible sdk and then install it and then set the path in environment variables then check it on the cmd

[2020-10-01 13:53] yansheng836 commented on #1472
It might be better to ask the search engines, like <https://google.com>.

[2020-10-01 15:27] 0Zeta opened #1519 "Add Conway's Game of Life"
From [Wikipedia](https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life):
"The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970. It is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration an

[2020-10-01 17:19] dynamitechetan opened #1528 "Hacktoberfest 2020 - Implement Java algorithms or data structures, fix existing ones and more!"
The annual [Hacktoberfest](https://hacktoberfest.digitalocean.com/) is around the corner! Register on [Hacktoberfest's website](https://hacktoberfest.digitalocean.com/) and open 4 pull requests during October 2020 to receive the swags (if you're the first 70,000 participants)!

In our Java repository, there are currently several open [issues](https://github.com/TheAlgorithms/Java/issues).

What's

[2020-10-01 18:24] jinicode commented on #1528
I would also love to add hashing algorithms.

[2020-10-01 21:00] st235 opened #1535 "Fenwick (Binary Indexed Tree)"
There are no such data structures as Fenwick tree. Fenwick (or Binary Indexed Tree) is a data structure that can efficiently update elements and calculate prefix sums in a table of numbers.

Read more here: https://en.wikipedia.org/wiki/Fenwick_tree

[2020-10-02 05:00] anamkhxn opened #1541 "Add "Median of two sorted arrays""
Pl. assign this issue to me.

[2020-10-02 06:53] parjanyaacoder opened #1546 "Bleak Number"
Want to contribute as a part of Hacktoberfest 2020.

Algorithm to check if a number is a bleak number or not.
A number 'n' is called Bleak if it cannot be represented as sum of a positive number x and set bit count in x  is not equal to n for any non-negative number x

[2020-10-02 06:53] parjanyaacoder commented on #1546
@dynamitechetan Please assign me this issue.

[2020-10-02 14:47] iayushguptaaa opened #1554 "Mathematics topics file"
I want to contribute to this repo by  Writing all the maths topics helpful for the coders , some of which they are unaware of

[2020-10-02 17:02] st235 opened #1558 "Disjoint Set"
Hi Java Algorithm Club 👋

I cannot find the [Disjoint Set data structure ](https://github.com/st235/Java/pull/new/feature/disjoint_set).

[2020-10-03 05:54] Kraniet88 opened #1566 "Hello-world"

[2020-10-03 07:14] Baishalee98 opened #1569 "Add "Sort list of strings using Trie""
I would like to contribute by implementing the algorithm to sort a list of strings using Trie data structure. Please assign me.

[2020-10-03 08:01] Baishalee98 commented on #1569
Used Trie data structure to sort a list of strings - #1570

[2020-10-03 16:10] yansheng836 opened #1581 "What is "Java naming conventions"?"
## Problem

I've noticed that a lot of people don't seem to notice this(Java naming conventions) during PR, so they be closed.
This problem often occurs with first-time PR and beginners (like students).

https://github.com/TheAlgorithms/Java/blob/master/.github/pull_request_template.md

 All functions and variable names follow Java naming conventions.
 All new algorithms have a URL in its comments

[2020-10-03 16:35] yansheng836 commented on #1581
some conventions for java:
- Java filename should use `.java` as the file suffix, like `HexToOct.java`, not `HexToOct`.
- > All filenames are in all uppercase characters with no spaces or dashes.

   like `HexToOct.java`, not `hexToOct.java`, `hextooct.java`, `Hex-To-Oct.java`, `Hex_To_Oct.java`.
-

[2020-10-03 16:37] priyanshisharma commented on #1566
Is a hello world program in Java required ?

[2020-10-03 16:40] Kraniet88 commented on #1566
No its not

[2020-10-03 19:42] priyanshisharma commented on #1566
okay cool, what is this issue for? 😅

[2020-10-03 20:41] MonarchChakri commented on #1528
@yanglbme / @dynamitechetan
Created a PR https://github.com/TheAlgorithms/Java/pull/1582
Please review and merge.

[2020-10-03 22:33] tomassirio opened #1583 "Project Euler: Problem 8"
Hey, just adding Problem 8 solution

[2020-10-03 22:49] claramiranda commented on #1583
can I solve this one?

[2020-10-03 22:58] tomassirio commented on #1583
Already got it!

[2020-10-03 23:01] tomassirio commented on #1583
Hope this is approved :) [#1584](https://github.com/TheAlgorithms/Java/pull/1584)

[2020-10-04 00:38] ToxicOverload opened #1585 "Add area of regular polygons"
I would like to improve Maths/Area.java by adding two functions to calculate the area of a given polygon, one for polygons with a given apothem and one for polygons with a given radius.

[2020-10-04 03:48] MokshTehlan commented on #1585
i would like to contribute for this can you please assign this work to me

[2020-10-04 03:51] MokshTehlan commented on #1541
i would like to contribute in this can you please assign this to me

[2020-10-04 04:45] NirmalSilwal commented on #1528
I look forward to **add new implementation** of [this code on nth fibonacci number](https://github.com/TheAlgorithms/Java/blob/master/DynamicProgramming/Fibonacci.java) using **iterative approach** (without recursion) in **Dynamic programming paradigm.**

Thanks

[2020-10-04 22:27] ng29 commented on #1541
i can take this, solved this on leetcode :)

[2020-10-05 13:02] panchiwalashivani commented on #1332
**Peak finding**

The idea is based on the technique of Binary Search to check if the middle element is the peak element or not. If the middle element is not the peak element, then check if the element on the right side is greater than the middle element then there is always a peak element on the right side. If the element on the left side is greater than the middle element then there is always a

[2020-10-05 13:07] panchiwalashivani commented on #1332
**Square root**

Approach :
1) As the square root of number lies in range 0 <= squareRoot <= number, therefore, initialize start and end as : start = 0, end = number.
2) Compare the square of mid integer with the given number. If it is equal to the number, then we found our integral part, else look for the same in left or right side depending upon the scenario.
3) Once we are done with finding the

[2020-10-05 13:10] panchiwalashivani commented on #1332
**Rotated Array**

Approach:

The idea is to find the pivot point, divide the array in two sub-arrays and perform binary search.
The main idea for finding pivot is – for a sorted (in increasing order) and pivoted array, pivot element is the only element for which next element to it is smaller than it.
Using the above statement and binary search pivot can be found.
After the pivot is found out divi

[2020-10-05 15:25] netra2201 commented on #1585
hi!! can you assign this task to me.

[2020-10-05 16:38] NirmalSilwal commented on #1528
Hello @dynamitechetan  I have made PR #1591, please review and do let me know about it.

[2020-10-05 18:07] mihirsood commented on #1541
I'd love to contribute to this issue. Please assign it to me. Thank you.

[2020-10-05 20:54] Kraniet88 commented on #1566
login in on windows

[2020-10-06 08:03] akshat-fsociety opened #1632 "Shortest Path in a Matrix using recursion and backtracking."
**_For Maze give below the shortest path would be 16 from (0,0) to (8,0)_**

**Test Case 1:**
                                        { 1, 1, 1, 1, 1, 0, 0, 1, 1, 1 },
					{ 0, 1, 1, 1, 1, 1, 0, 1, 0, 1 },
					{ 0, 0, 1, 0, 1, 1, 1, 0, 0, 1 },
					{ 1, 0, 1, 1, 1, 0, 1, 1, 0, 1 },
					{ 0, 0, 0, 1, 0, 0, 0, 1, 0, 1 },
					{ 1, 0, 1, 1, 1, 0, 0, 1, 1, 0 },
					{ 0, 0, 0, 0, 1, 0, 0, 1, 0, 1 }

[2020-10-06 15:49] mshreya9 commented on #1541
Please assign it to me, I would love to contribute the solution to this problem. Thank you :)

[2020-10-06 16:18] bhawayb opened #1638 "Trie DataStructure is Not There"

[2020-10-06 16:25] mshreya9 opened #1640 "A better implementation to check if two strings are anagrams of each other"

[2020-10-06 16:53] bhawayb commented on #1638
#1644

[2020-10-06 16:54] #1638 closed

[2020-10-06 17:05] sj056 commented on #1640
I have added the PR for the same.

[2020-10-06 17:55] shreya10032000 opened #1650 "Recursive Hanoi Algo"
Tower of Hanoi is a mathematical puzzle where we have three rods and n disks. The objective of the puzzle is to move the entire stack to another rod, obeying the following simple rules:
1) Only one disk can be moved at a time.
2) Each move consists of taking the upper disk from one of the stacks and placing it on top of another stack i.e. a disk can only be moved if it is the uppermost disk on a s

[2020-10-06 19:10] anmol193 commented on #1640
can i do this in java?

[2020-10-06 19:46] xayke opened #1652 "Add an optimized factorial method."
If you have a high load project where you need to compute factorial of big numbers a lot of times you need to optimize a time to get it.
This method provides you an opportunity to speed up your project.
But this method have only one requirement: You need to know what's maximum factorial you've need to get.
The **complexity** of this algorithm to get a needed factorial is **O(1)** after initializat

[2020-10-06 19:47] softechnoconrajat opened #1653 "Frog Jump Problem."

[2020-10-07 09:32] Blackwidow2981 commented on #1541
I would like to contribute to this issue.

[2020-10-07 09:33] Blackwidow2981 commented on #1650
I would like to work on this issue.Please assign this issue to me .

[2020-10-07 12:21] diptinayan commented on #1528
I am also interested in adding some of the basic data structures and algorithms.

[2020-10-07 15:59] ATRI2107 opened #1678 "Adding some more Programs in Tree Data Structures"
I feel there is a need to add some more programs in the Tree Data Structure like the Lowest Common Ancestor and Constructing a tree from preorder and inorder traversal.

[2020-10-07 16:34] sanjana1604 commented on #1340
I am interested to work.

[2020-10-07 16:35] sanjana1604 commented on #1340
@WaterHashira I am interested to work on this.

[2020-10-07 18:42] pradipta commented on #1678
Picking this up

[2020-10-07 19:16] debajitdeb11 commented on #1528
Hey, @dynamitechetan I want to add a few algorithms with examples based on Quick Sort. Can you please assign me?

[2020-10-07 19:40] Shaishav-Anand commented on #1653
Hii @softechnoconrajat I Want to contribute to this please assign it to me.

[2020-10-07 19:42] Shaishav-Anand commented on #1546
Hii @parjanyaacoder i want to contribute to this please assingn it me it will be very gratefull.

[2020-10-07 19:54] vaibhvbh77 opened #1681 "want to add Recursion section"
I want to add important topics of recursion like Josephus problem ,palindrome check using recursion ,subset sum problem and  more.

[2020-10-07 20:19] antailbaxt3r opened #1682 "Add BigInteger Implementation to Factorial.java"
he previous implementation of Math/Factorial.java involved usage of ```long``` datatypes that have large storage, but it cannot even handle 100 factorial. Hence ```java.math.BigInteger``` implementation is required.

[2020-10-07 22:53] pnpninja commented on #1650
I would like to work on this issue.Please assign this issue to me .

[2020-10-08 02:13] parjanyaacoder commented on #1546
Hi @Shaishav-Anand I am not the project maintainer for this repository. I cannot assign you this issue.

[2020-10-08 05:56] Rohanfizz commented on #1650
Can you please assign this to me? I would love to contibute in different languages :-)
Peace:)

[2020-10-08 05:57] Rohanfizz commented on #1535
I would like to solve this, can u please assign this to me?
Peace :-)

[2020-10-08 06:14] st235 commented on #1535
@Rohanfizz hi 👋

I have already solved it in this PR - https://github.com/TheAlgorithms/Java/pull/1536 🙂

[2020-10-08 06:16] Rohanfizz commented on #1535
can you please give me some other issue..I dont know anything in dev in a competetive programmer and i  like problem solving, so im having trouble participating in hackoctober fest :'(

[2020-10-08 06:42] Rohanfizz opened #1687 "Tower of Hanio"
I want to add Tower of Hanio problem as it is a good one to understand recursion

[2020-10-08 07:02] Rohanfizz commented on #1687
#1688

[2020-10-08 07:02] Rohanfizz commented on #1687
#1688

[2020-10-08 07:07] Rohanfizz opened #1689 "Doubly LinkedList Implementation"
Doubly LinkedList is a data structure which is really helpful and Some Advantages over singly linked list are mentioned below->

1) A DLL can be traversed in both forward and backward direction.
2) The delete operation in DLL is more efficient if pointer to the node to be deleted is given.
3) We can quickly insert a new node before a given node.

[2020-10-08 07:31] Rohanfizz commented on #1689
#1688 #

[2020-10-08 08:05] wildchaser1703 commented on #1681
Hi! I would like to contribute to this section!

[2020-10-08 08:06] 0Zeta commented on #1687
Well, I guess it's already been implemented. https://github.com/TheAlgorithms/Java/blob/master/Others/TowerOfHanoi.java

[2020-10-08 08:52] Dareten opened #1692 "Restructure the Euler Project problems"
Place each problem in a separate package, where you can add different solutions. Every problem has different solutions and it is better to show that there are more and less effective. While not so many solutions have been added, restructuring should not be a serious problem.

[2020-10-08 08:59] 0Zeta opened #1693 "Add volume formulas"
Implement the formulas to calculate the volumes of important geometrical objects

[2020-10-08 11:04] #1652 closed

[2020-10-08 12:17] SHIKHAR-CHANDRA commented on #1528
I want to add Huffman coding implementation in Java.

[2020-10-08 13:21] JuanfPuebla opened #1698 "Hola que tal"
Estoy aprendiendo  programacion

[2020-10-08 13:21] #1698 closed

[2020-10-08 13:54] softechnoconrajat commented on #1653
@Shaishav-Anand As you can see I don't have permission to do that.
Sorry, but you are on your own.
Please add your contribution and raise PR.
My intent on raising this issue was to see if this is already resolved.

[2020-10-08 16:19] AnujBansal4009 opened #1700 "Algo"

[2020-10-08 16:19] AnujBansal4009 opened #1701 "Algo"

[2020-10-09 03:33] eunbeek opened #1704 "Defined wrong class object name in Java/Misc/HeapSort.java file"
When I run this repository, I figure out this small bug.

Can I add a small change like below?

public class HeapSort {
    // Driver program
    public static void main(String args[]) {
        int arr[] = {12, 11, 13, 5, 6, 7};

        **heap_sort ob = new heap_sort();**
        ob.sort(arr);

        System.out.println("Sorted array is");
        printArray(arr);
    }
}

[2020-10-09 04:17] varad64 commented on #1528
Hi @dynamitechetan I'd love to add several algorithms based on bitwise operators.

[2020-10-09 07:51] projectelex opened #1709 "Dynamic Programmig:- Longest Palindromic Subsequence"
Longest Palindromic Subsequence is a type of subsequence in which the two strings are considered Eg:-
String 1:- BBABCBCAB
String 2:- BABCBAB

The result i.e. the Longest Palindrimic Subsequence from the above two strings is:
Result 1:- BBBBB
Result 2:-BBCBB

[2020-10-09 08:13] matteomessmer commented on #1709
I can do this

[2020-10-09 08:47] matteomessmer commented on #1709
Ok I finished, but the results of my algorithm are different from the two test cases you wrote.
Are you sure that the LPS of "BBABCBCAB" is "BBBBB"? Shouldn't it be "BABCBAB"? And also "BABCBAB" is a palindrome itself, hence it is already its longest palindromic subsequence. Or maybe I missed something, I'm not 100% sure I understood what you mean with LPS.
Tell me if I shall make a pull request

[2020-10-09 09:09] SondreWang opened #1710 "Should have Project Euler problems in its own folders"
I think it would be nice to have each project euler problem in a folder. For example a folder for problem_1, problem_2 and so on. This will make it easier to accept different solutions to one problem.

[2020-10-09 09:15] Rohanfizz commented on #1687
Oh okay @0Zeta  :-)

[2020-10-09 09:15] #1687 closed

[2020-10-09 09:21] projectelex commented on #1709
Yes you are right my also answer came to be a length of 7. It was a mistake from me

[2020-10-09 09:36] matteomessmer commented on #1709
Ok, thank you. I make the pull request

[2020-10-09 14:13] ShrutiRawal opened #1717 "Add Randomized Quick Sort in Java"
Adding implementation of randomized quick sort in Java
Sample Input
5
4 5 2 1 3
Sample Output
1 2 3 4 5

[2020-10-09 14:28] #1717 closed

[2020-10-09 16:58] Amit-Jaydeepsingh-Thakur opened #1718 "Longest Common Substring"
The Longest Common Substring is an approach in which we find out the the Longest Common Substring from the two input strings
Eg:-
s1="abbaf"
s2="abcdef"

The result will be 2 as the length of the Longest Common Substring which is "ab" is 2

[2020-10-09 18:20] LalwaniSurendra commented on #1718
Can I take this?

[2020-10-09 19:43] Deepak2417 commented on #1718
Kindly assign this to me.

[2020-10-09 19:55] #1700 closed

[2020-10-09 19:55] #1701 closed

[2020-10-09 20:15] srajantiwari commented on #1718
I'll be happy to contribute code for the problem in Java or C++. Could you assign the problem to me?

[2020-10-10 04:11] jindalsachin opened #1720 "Union Operation with Hashing"
Suppose we are given two arrays and we have find heir mathematical union operation .This can be done easily with the use of HashMap/Hashing in Java.
Eg

arr1=[2,3,4,5,6,8,9 ]
arr2=[1,3,5,10]

Union will be [1,2,3,4,5,6,8,9,10]

[2020-10-10 04:12] jindalsachin commented on #1720
Please assign me this issue.

[2020-10-10 07:39] sgarg5794 commented on #1718
Can you assign this issue to me , I can contribute and write the code in java.

[2020-10-10 13:23] shahzaibahmad3 opened #1728 "Unbounded Knapsack (Dynamic Programming)"
Given Input : an array of weights wt[], an array of values val[] containing weights and values for each item and a Weight W of Knapsack.
Output : Maximise the profit.
here we are allowed to use unlimited number of instances of an item unlike 0-1 Knapsack problem.

Test Case:
input- 	wt={1,2,3,4}
		val={25,35,10,25},  W=8
Output-   200

[2020-10-10 14:23] ravidyarev commented on #1693
Working on this issue

[2020-10-10 14:56] rbshealy commented on #1294
Closing because we have already added two hashtable data structures

[2020-10-10 14:56] #1294 closed

[2020-10-10 15:00] rbshealy commented on #1640
@mshreya9 Could you kindly provide an argument supporting your claim and describe what kind of solution is needed? As of now the existing CheckAnagram.java file seems like it works very well.

[2020-10-10 15:05] rbshealy commented on #1689
We already have a DoubleLinkedList.java implementation

[2020-10-10 16:07] 0Zeta commented on #1693
I already implemented it and made a PR, but there are many volume formulas I haven't implemented.

[2020-10-10 17:02] debajitdeb11 commented on #1681
@vaibhvbh77 I would like to work on this

[2020-10-10 19:08] ravidyarev commented on #1693
Can you let me know the file name and I can implement the rest.

[2020-10-10 21:42] 0Zeta commented on #1693
@ravidyarev Well, the pull request hasn't been merged yet, but you can find my commit [here](https://github.com/TheAlgorithms/Java/pull/1694/commits/8ce3820183e7847bf23a67d5a031c569024bba8c).

[2020-10-10 23:48] ravidyarev commented on #1693
Thank you!

[2020-10-11 03:57] rangira commented on #1728
Can I take this

[2020-10-11 03:58] rangira commented on #1681
I would be interested to contribute to this section

[2020-10-11 04:02] sanguvk123 commented on #1728
can i do this?

[2020-10-11 17:11] 13snehitha commented on #1718
Can you assign this to me.

[2020-10-11 18:49] ksr1122 opened #1747 "Add solution for Project Euler problem 16"

[2020-10-12 03:19] sreechand2002 opened #1750 "Sleep sort algo"
sleep sorting makes use of threads to sort the element

[2020-10-12 05:20] Mathur777 commented on #1693
kindly assign me

[2020-10-12 06:06] #1653 closed

[2020-10-12 07:14] kaunik07 commented on #1528
@dynamitechetan , please assign me a few Dynamic Programming Algorithm questions .

[2020-10-12 14:29] Nikolaevg opened #1756 "В"

[2020-10-12 16:29] #1566 closed

[2020-10-12 16:29] #1756 closed

[2020-10-12 16:29] rbshealy commented on #1750
What are the benefits and drawbacks of this algorithm? How is it implemented?

[2020-10-12 20:04] sreechand2002 commented on #1750
In this type of sorting for each value in the array  a thread is created and sleeps for the amount of time as the value of the array element and then wakes up and prints the values which is the array element , the drawback is its not efficient when the difference between numbers are very less

[2020-10-13 03:26] sreechand2002 commented on #1750
The benefits of this algo is that all the sorting is done by threads hence no auxiliary space is required , it more oriented towards OS unlike other algos, the drawback is that , it doesnt work efficiently when difference between the numbers is small(ex 1,2,3,4)
It is implemented using threads , for each value of array a thread is created and made to sleep for so much of time and which ever thread

[2020-10-13 08:44] yashbansal130 commented on #1632
please assign this to me. I can do this in Java

[2020-10-13 08:48] yashbansal130 commented on #1632
@akshat-fsociety please assign this to me

[2020-10-13 19:20] philodonnell1981 opened #1773 "Java"

[2020-10-13 19:20] philodonnell1981 commented on #1773
Java

[2020-10-14 06:29] DeveshBaranwal opened #1776 "[Hacktoberfest] Added Automorphic Number under Maths section"
An automorphic number is a number whose square "ends" in the same digits as the number itself. For example, 5^2 = 25, 6^2 = 36, 76^2 = 5776, and 890625^2 = 793212890625, so 5, 6, 76 and 890625 are all automorphic numbers.

Test Data
Input a number : 76

Output:
Input a number : 76
Automorphic Number.

[2020-10-14 06:31] DeveshBaranwal commented on #1776
Added Automorphic Number

[2020-10-14 07:53] Kritimakaushal commented on #1776
Please assign it to me. I want to do this in java.

[2020-10-14 08:17] akshat-fsociety commented on #1632
@yashbansal130 This issue has been resolved refer PR #1633 . If you feel anything missing drop a message here.

[2020-10-14 08:18] Kritimakaushal commented on #1776
I submitted my PR for automorphic number. Please review it and please add the label "hacktober-accepted" to it. Please.

[2020-10-14 15:14] #1709 closed

[2020-10-14 17:22] Rohanfizz commented on #1689
oh Okay

[2020-10-14 17:22] #1689 closed

[2020-10-15 06:21] sourav2002 opened #1788 "Add More Files (Sorting, Backtracking, list)"
I want to contribute to this open-resource. I checked a lot of algorithms and concepts related to Sorting, Dynamic Programming, and more. This is very helpful for everybody. I want to add some more Important Algorithm for sorting, String.

[2020-10-15 06:26] sourav2002 commented on #1788
// BackTracking
Partition of subArray of equal sum

import java.util.*;

public class PartitionOfArray {

	public static void main(String[] args) {

		int a[] = {2, 1, 2, 3, 4, 8};
		int sum = 0;
		for(int i = 0; i<a.length; i++) {
			sum += a[i];
		}

		ArrayList<Integer> ans = new ArrayList<>();
		boolean isPossible = (sum&1) == 0 &&
				partition(a, sum/2, 0, ans);

		if(isPossible) {
			for(in

[2020-10-15 06:30] skhurana852 commented on #1681
Hi! I am interested to contribute to this section.

[2020-10-15 08:51] suksest opened #1791 "Add FastPow"
Currently implemented `pow` function will return "time limit exceeded". So, we need to add a new function to make a better execution time.

[2020-10-15 19:22] antoine-meyer opened #1799 "Resolving a peg solitaire"
Hey ! I gonna to make a pull request with my algorithm to solve a peg solitaire (this game if you don't know https://en.wikipedia.org/wiki/Peg_solitaire ). I am French so my java doc is in French. Should I translate it or can I leave it like this ? Thank you for your work. Cordially.

[2020-10-16 13:20] devanshi1110 commented on #1650
Can you please assign this to me? I would love to contribute in different languages :-)
Peace:)

[2020-10-16 18:33] xphlawlessx commented on #1519
I would like to add this one , if that's okay?

[2020-10-16 20:05] 0Zeta commented on #1519
Hi, I'm sorry, but I already implemented it and opened a PR.

[2020-10-16 20:24] psvnlsaikumar opened #1814 "[Hacktoberfest] Missing observer design pattern in development branch"
I have found a few design patterns missing in the development branch. I am already working on adding the necessary files.

[2020-10-17 00:50] xphlawlessx commented on #1519
Oh, no worries. Thanks for replying :)

On Fri, 16 Oct 2020, 9:05 pm Lucas, <notifications@github.com> wrote:

[2020-10-17 06:39] chamil321 opened #1824 "Add projecteuler solution for problem 20"
link: https://projecteuler.net/problem=20

 n! means n × (n − 1) × ... × 3 × 2 × 1

 For example, 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800,
 and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27.

 Find the sum of the digits in the number 100!

[2020-10-17 08:08] pratik-2020 commented on #1824
please assign me this

[2020-10-17 08:55] chamil321 opened #1830 "Add Projecteuler solution for problem 21"
link: https://projecteuler.net/problem=21

Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n).
If d(a) = b and d(b) = a, where a ≠ b, then a and b are an amicable pair and each of a and b are called amicable numbers.

For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. The proper diviso

[2020-10-17 18:33] programmer-anvesh commented on #1830
Hi, Could you please assign this task to me. My rank on Project Euler on HackerRank is 1482.

[2020-10-17 18:33] programmer-anvesh commented on #1824
Hi, Could you please assign this task to me. My rank on Project Euler on HackerRank is 1482.

[2020-10-18 07:32] rachitbhalla opened #1853 "Make StackArray Implementation Generic"
The StackArray is implemented using integer array and can hold only integer values. However, it can be modified using Generics to hold value of any type.

[2020-10-18 09:32] rachitbhalla opened #1856 "Make StackArrayList Implementation Generic"
The StackArrayList is implemented using Integer ArrayList and can hold only integer values. It can be modified using Generics to hold value of any type.

[2020-10-18 10:12] ShimoniSinha2019H1030019G commented on #1528
Hello @dynamitechetan  I have created a new java file to implement skip list.  PR #1857   Can you please verify and merge it?

[2020-10-18 15:35] BasilVictor opened #1861 "Decimal to BCD(Binary Coded Decimal)"
# Decimal to BCD(Binary Coded Decimal)
This issue is created so that a Java class can be added to convert decimal numbers to BCD forms.
One such example would be to convert **248** to its _BCD form_, and the result would be **0010 0100 1000**

P.S. Since I am new to this repository, after reading the Contributions file, I still could not understand that should I straight away make this class and s

[2020-10-19 03:24] Nanak360 opened #1867 "Add more Project Euler Solutons."
I have already added a solution to problem 3.  #1866

[2020-10-19 11:21] miador opened #1874 "Adding a Binary Gap Calculator with Java"
A binary gap within a positive integer N is any maximal sequence of consecutive zeros that is surrounded by ones at both ends in the binary representation of N.
         For example, number 9 has binary representation 1001 and contains a binary gap of length 2.

- The number 529 has binary representation 1000010001 and contains two binary gaps: one of length 4 and one of length 3.
- The number 20

[2020-10-19 11:36] #1874 closed

[2020-10-20 01:19] chw9 opened #1884 "Add matrix addition algorithm"
Add a class that can add two matrices

[2020-10-20 07:08] sonu7089 opened #1888 "Add Disjoint Union Set"
Disjoint Union Set implementation in Java
Will help people to solve several graph problems quickly without taking care of implementing one.
Detailed explanation.
Proper Code Structure.
Have all the relevant functionality.

[2020-10-20 11:42] lordgavy01 commented on #1888
I want to work on this

[2020-10-21 16:25] VishnuNairP opened #1904 "Add an algorithm to transpose a matrix"

[2020-10-21 18:35] huynguyez opened #1906 "Need more algorithms about Date & Time calculation"
I believe we need a new category for this project about date time computing. Such as calculating number of days between two specified date or such algorithms related to that. I will add some soon.

Let me know what you guys think?

[2020-10-22 12:20] Jash-Mehta commented on #1773
I Want to Add
(1)**_Quick sort_**
(2)**_Merge sort_**
(3)**_Deletion sort_**
(4)**_Cycle sort_**

[2020-10-22 12:21] #1773 closed

[2020-10-24 04:15] gokulmanohar opened #1926 "New MultiThreading directory."
Making a new MultiThreading directory for including sample multithreading programs. Will be creating a new pull request.

[2020-10-24 08:52] xcodz-dot opened #1929 "This repository is flooding with pull request"
Hello Dear Maintainers, this repository is now flooding with 600+ pull request. Possibly please pay attention to it. The same is happening with [The Python Repository](https://github.com/TheAlgorithms/Python)

[2020-10-24 09:41] jain13tushar commented on #1904
Hi @VishnuNairP,
Please assign this issues to me, I want to work on it for hecktoberfest
Regards,
Tushar

[2020-10-24 09:42] dhairya-parikh commented on #1718
Can you please assign this to me?
@projectelex

[2020-10-24 09:42] dhairya-parikh commented on #1904
Can you please assign this to me?
@projectelex

[2020-10-24 09:44] dhairya-parikh commented on #1906
Can you please assign this to me?
@VietnameZe

[2020-10-24 09:46] dhairya-parikh commented on #1750
Can you please assign this to me?
@sreechand2002

[2020-10-24 12:29] alokjai commented on #1824
please assign me sir

[2020-10-25 08:40] Lakhan-Nad opened #1943 "Add BInary Exponentiation in Maths Library"
Binary Exponentiation is one of the most important concepts used in Competetive Programming.
We can add a reference implementation in Maths package.

[2020-10-25 10:10] NikhilTaneja98 commented on #1528
I want to do contribution in dynamic programming section. Plz consider it as I am participating in Hacktoberfest 2020

[2020-10-25 16:28] VietnameZe commented on #1906
Hi I'm not the maintainer of this project

[2020-10-27 20:44] khleon opened #1970 "Q"

[2020-10-28 18:44] MCDoerfi opened #1978 "Java select Location"
Hey, I'm trying to program something similar to snipping tool, where i just run a file, drag on a monitor position to get a rectangle screenshot and save it to the clipboard, but now I'm stuck trying to make chosing the Location work, I have no idea how to do that, any help is appreciated!

[2020-10-28 21:40] #1978 closed

[2020-10-30 14:50] daminimehra commented on #1904
hey, i would like to on this issue.

[2020-10-30 20:52] #1970 closed

[2020-10-31 10:39] tusharjain88954 commented on #1943
@Lakhan-Nad Why are you re-open this issue, as there is no error in code. I don't get the error. May you please elaborate it?

[2020-10-31 12:38] Lakhan-Nad commented on #1943
The error was due to Google-Java-Format and something due to GitHub actions. So I repopened this

[2020-11-01 19:52] myommtbebe1 opened #2000 "Java"

[2020-11-02 06:31] #2000 closed

[2020-11-02 10:19] Mxiaoyu opened #2002 "CircleBuffer code thread security"
[code]

thread 1 and thread 2  execute "_buffer[getTrueIndex(_write_index)] = c;" At the same time，the result is not definite.
How about this issue? Or I missed this code.

[2020-11-02 17:21] hemanth-kotagiri opened #2003 "Tim Sort"
Timsort is a sorting algorithm, derived from merge sort and insertion sort, and is used in Java and Python for the built-in sorting methods.

For more information: [Tim Sort](https://en.wikipedia.org/wiki/Timsort)

[2020-11-02 17:21] hemanth-kotagiri commented on #2003
I would raise a PR on the same soon.

Thanks!

[2020-11-03 12:47] dipayanDebTheCoder commented on #1361
Can you please assign me this. This seems interesting. I would love to do this

[2020-11-04 16:29] ChenOst opened #2009 "Fix 2D array being passed to Arrays.fill in FloydWarshall"
[Here](https://github.com/TheAlgorithms/Java/blob/master/DataStructures/Graphs/FloydWarshall.java#L17) an attempt is being made to pass a 2D array to Arrays.fill().
This is not correct as Arrays.fill() accepts a single dimensional array.

I would like to fix this bug myself if that is ok

Test case describing the bug:
Try to run FloydWarshall.java with legitimate input

Expected behavior:
Succeeds

[2020-11-05 13:50] zaibxn opened #2020 "."
..

[2020-11-05 19:40] MADARA-UCHIHA1 opened #2021 "OMG"
console.log("Hi")

[2020-11-07 01:12] #2021 closed

[2020-11-07 01:12] #2020 closed

[2020-11-08 20:15] Rishabrp99 commented on #1904
Hey @VishnuNairP Can you please assign it to me? I would like to work on this .

[2020-11-12 17:04] icoder211 commented on #1728
I'm taking this up

[2020-11-13 12:13] moAsmarDx opened #2028 "Write code in Java Programming Language using JavaFX (GUI) to compute the area, perimeter, and diagonal of a rectangle. The user will enter the length and height of the rectangle via textfields in the GUI and the computed answers will also be shown on the GUI."
I really need help im trying but i cant do it
![Screenshot_20201113-160623_Word.jpg](https://user-images.githubusercontent.com/71011088/99071222-225c5f80-25cb-11eb-9a33-e741d03ee604.jpg)

[2020-11-14 13:49] prashantdoshi28 commented on #2009
Hi @icoder211 and @ChenOst , as far as I know, currently you both have created PRs for fixing same issue. Can you guys collaborate and do required. Thanks :)

[2020-11-14 13:54] prashantdoshi28 commented on #1929
Yes. It would be good for repo if people start reviewing PRs instead of creating for some time, I'm not saying stop completely, but along with creating PRs, focus on reviewing too, just until number of PRs are in 2 digits.

Like if you create 1 PR, then try to review 2-3 PR also.

[2020-11-14 15:40] ChenOst commented on #2009
Hey @icoder211 and @prashantdoshi28, I have updated my PR (#2010 ) to eliminate Arrays.fill() entirely,
So we can have a PR that fixes this issue specifically instead of having #2027 handle multiple issues in one PR.

The problem is that I am failing the check for "Prettier" in #2010 , could you advice what the problem may be?

[2020-11-14 16:33] prashantdoshi28 commented on #1776
Hey @DeveshBaranwal , why was this issue reopened? Please add proper message when you reopen an issue.

[2020-11-15 02:54] xcodz-dot commented on #1929
Great, let's review PRs and ask them if they could help in reviewing PRs

[2020-11-15 02:59] xcodz-dot commented on #1929
I am not a Java Guy, so I would not be able to do anything. I opened this to aware maintainers and other incoming people somewhat like in [this](https://github.com/TheAlgorithms/Python/issues/3609).

[2020-11-15 06:40] prashantdoshi28 commented on #1929
Yeah saw that  few days ago and provided a suggestion over there for maintainers. Hope that everyone participates in this.

Hi @ayaankhan98 , can you please ask others to help review PRs over [Gitter](https://gitter.im/TheAlgorithms/community) or tag relevant people over here to increase awareness. Also, can you mark this issue as Help Needed or anything relevant.

Lets hope that we will soon be a

[2020-11-15 06:56] ayaankhan98 commented on #1929
yes hope so soon we will be able to control this flood.

[2020-11-15 10:36] prashantdoshi28 commented on #1929
If there are no concerns, then add new issue or mark this issue in some way so that everyone who is working with this repo can know of this conversations and start helping out. Just for broadcasting or notifying purpose.

[2020-11-15 17:49] ayaankhan98 commented on #2003
@hemanth-kotagiri any update over this? just asking.

[2020-11-15 17:50] hemanth-kotagiri commented on #2003
Hey, @ayaankhan98 . I have the code implemented. I'll raise a PR soon. I've been busy with college lately.

Thanks!

[2020-11-15 17:51] ayaankhan98 commented on #2003
Okay No problem! 👍

[2020-11-16 10:37] hydrian634 opened #2030 "Algorithms about java"

[2020-11-16 11:03] ayaankhan98 commented on #2030
Seems Like Spam closing it.

[2020-11-16 11:03] #2030 closed

[2020-11-16 13:01] #1943 closed

[2020-11-17 07:35] prashantdoshi28 commented on #1776
Hey @ayaankhan98 , please check this issue, I think this issue can be closed as no PRs are linked to it and creator of issue has not provided valid reason for reopening of it. Please do necessary.

[2020-11-17 13:05] prashantdoshi28 commented on #638
Hey @Nuthi-Sriram , I have reviewed your PR, please go through my findings in my review. Let's make sure that this issue can be closed in few days.

[2020-11-17 13:12] prashantdoshi28 commented on #727
Hey @dptshah30 , please add proper description for this issue, so others can work on it. If this is not a valid issue now, please close it.

[2020-11-17 13:15] prashantdoshi28 commented on #560
Hey @vishnoitanuj , I have requested some changes, go through my review for those.

[2020-11-17 13:31] #727 closed

[2020-11-17 13:59] pdsla112 opened #2031 "Add a Interleave Class with Tests for the New Algorithm Interleave"
Interleave is a new algorithm where the sequence shows characteristics of alternation. For this class, the characters in two strings will alternate to form a new jumbled string. For more information, check out [here](https://en.wikipedia.org/wiki/Interleave_sequence).

[2020-11-17 15:40] icoder211 commented on #2009
@ChenOst ,I am not sure how to make two separate PR's, it's just committing the changes to the same fork, and when I make the PR, it updates my old PR.

[2020-11-19 15:58] prashantdoshi28 commented on #1929
Hey guys, what if we add a comment to every PR, asking PR author to create a fresh one along with an issue, and we close/decline that PR. This way, we can be sure of that the PRs which we are reviewing, will be fruitful i.e. if we suggest any changes, author will go through those and that PR won't wait there forever.

To sum up what I mean is :

1. Go to a PR.
1. Add a comment asking PR author to

[2020-11-19 17:37] limitless-Sky commented on #1904
Hey! @VishnuNairP can I work on this.

[2020-11-19 17:38] limitless-Sky commented on #1884
Hey @chw9 can I resolve this issue.

[2020-11-19 19:40] xcodz-dot commented on #1929
I think we should simply comment the changes and note the PR somewhere, if the author doesn't respond, we close it.

[2020-11-20 07:40] prashantdoshi28 commented on #1929
Agree, but that's the solution when number of PRs are less and authors are active. I'm not sure that it will work effectively in our case, as there are many spams present. Also the PRs go back till 2018-19, so we can't expect those PR author to update it.

Now as you said, if author does not respond, but if we close PRs irrespective of author's response, he/she will open new anyway as we will ask

[2020-11-20 10:23] xcodz-dot commented on #1929
For that method, I think we should just type a comment saying them to open a new one, and refer them to this issue. In this method we will have to close all of them, and slowly as the authors come online, new PRs will start coming.

On Python repository, according to my method it is going to take 4 months to get the numbers down to 10.
(estimated number of months = number of PR / the rate of PRs b

[2020-11-20 12:22] prashantdoshi28 commented on #1929
Yep that is what I'm thinking.

Nice, its good to know.

Sounds like a plan.

[2020-11-20 14:32] Rajat-jain29 opened #2040 "Code Foramatter"
How to clear this code formatter (Pull_Request) Check

[2020-11-20 14:55] #2040 closed

[2020-11-22 17:41] ayaankhan98 commented on #1929
Most of the PR are just a joke, their is no valueable code to review and also a lot of them are duplicate.
I think just review the recent PR's which have some valuable implementations and close rest of them direclty (just leave a message there for the author in order to justify their work, if found good we can review that from their onwards).
do the same for old PR's also

[2020-11-23 05:54] xcodz-dot commented on #1929
That is doesn't look nice to me, its easy to check if a code is valuable or not, within 5 minutes we can mention a member to close it if the work is not valuable. simply closing all of them is not a good solution either. Its better if we proceed in the classic way of reviewing PRs

[2020-11-23 17:18] prashantdoshi28 commented on #1929
@xcodz-dot yes I agree that it does not look nice, but the thing is, I don't think that there are many members reviewing PRs and can just close them as they go. Currently only @ayaankhan98 is the one who is reviewing PRs and has rights to close/mark PRs. Now let's say we do get some people who reviews PRs but what's its use if they can't mark/close them, so ultimately it will come down to maintain

[2020-11-23 17:24] ayaankhan98 commented on #1929
why a 2-step process? you can just directly leave a suitable comment that if the author wishes to continue this PR then he/she can reopen the PR and from thereafter we will consider that and will review that in a proper way. Or if he/she does not replies to that then also there is no problem because PR is already closed.
This was for the old PR's

For the recent PR's just review them properly beca

[2020-11-23 17:28] prashantdoshi28 commented on #1929
@ayaankhan98 yep that is what I think should be done as I mentioned before. But the decision is up to you guys.

[2020-11-23 17:28] ayaankhan98 commented on #1929
I don't understand what was not nice in that. I am not closing anyones work i am just closing the PR with a option there if the author wishes to continue then for sure i will consider his/her work and will review that properly.
Because i don't have enough available time to first ping the author and then wait for their response and if they don't response for say 5-7 days then i will go back to that

[2020-11-23 22:43] pdsla112 opened #2043 "Add a Strand Sort Algorithm and Tests"
Will add a strand sort algorithm class under the Sort package, and a test class to go with it in the Test package. Fore more information on the algorithm check out: https://en.wikipedia.org/wiki/Strand_sort

[2020-11-24 19:47] abdorah opened #2045 "Adding dijkstra algorithm."
My idea is to implement a simple dijkstra algorithm to help people who are learning the graph theory.

[2020-11-24 20:35] #2045 closed

[2020-11-25 07:38] xcodz-dot commented on #1929
Ok, any other person can review, and mention the member for it to be closed
# The Plan
## Maintainers
### Part 1
* Goes to PR
* Reviews it
* done
### Part 2
* Goes where he is mentioned
* Accepts or closes PR (The other people review it)
## The People
* Goes to PR
* Reviews it
* Mentions a Maintainer
* Done

[2020-11-25 07:40] xcodz-dot commented on #1929
and if talked about pinging the author (Do not ping, simply ask him and continue with other PRs). Those PRs can be closed when all the useful PRs are done.

[2020-11-25 08:49] xcodz-dot commented on #1929
Please try my steps, also The Python repo is now on 293 from 500 which is great

[2020-11-25 12:43] cclauss opened #2048 "javac -Xlint:deprecation -Xlint:unchecked issues to fix"
**Is your feature request related to a problem? Please describe.**
Related to #2047

[`javac -Xlint:deprecation -Xlint:unchecked`](https://travis-ci.com/github/TheAlgorithms/Java/builds/204123272#L195) shows issues that should be fixed.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Fix the issues so that `javac -Xlint:deprecation -Xlint:unchecked

[2020-11-25 14:54] prashantdoshi28 commented on #1929
Good to hear that. Keep it up.

[2020-11-26 15:04] tharun9746 opened #2050 "Add a Simple calculator"
Almost all the tutorial and courses teaching java finally ends up building a simple calculator. So if we could post the same under Misc. section it would be a great help for beginners learning java (java swings).
Personally iam a beginner and felt a minimal code for calculator would be a great help for all beginners.
I look forward to do the same and make a pull request.

[2020-11-26 17:22] xcodz-dot commented on #1929
How about implementing the action named stale (We would not require pinging authors), the stale closes issue and PR over time if there is no activity in it

[2020-11-27 08:34] noseparte opened #2052 "The bubble sort is always unavoidably sorted one more time."
**Describe the bug**
A clear and concise description of what the bug is.
The bubble sort is always unavoidably sorted one more time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

please see **Screenshots**

**Expected behavior**
A clear and concise description of what you expected to happen.
Can you improve the performan

[2020-11-28 14:38] Enterprises-Gracida-Veracruz opened #2053 "https://github.com/firebase/quickstart.Java.links ++"

[2020-11-28 14:39] Enterprises-Gracida-Veracruz commented on #2053
https://github.com/react-native-community/upgrade-helper/issues/254

[2020-11-28 14:39] Enterprises-Gracida-Veracruz commented on #2053
https://github.com/firebase/quickstart.Java.links ++

[2020-11-29 00:52] Enterprises-Gracida-Veracruz opened #2054 "https://admanager.google.com/intl/es/home/account-and-profile/how-to-add-a-whatsapp-business-account-to-a-facebook-page/?lang=es business_id?=221945182402877"

[2020-11-29 00:54] Enterprises-Gracida-Veracruz commented on #2054
@Enterprises-Gracida-Veracruz

[2020-11-29 01:52] DieKyo opened #2055 "Would not be "distance" in this line?"
https://github.com/TheAlgorithms/Java/blob/c85223bfca0b84966c4df8655f255b9f846c60a4/DataStructures/Graphs/BellmanFord.java#L51

[2020-11-29 02:26] DieKyo opened #2056 "Maybe here would be "computation"...?"
https://github.com/TheAlgorithms/Java/blob/c85223bfca0b84966c4df8655f255b9f846c60a4/DataStructures/Graphs/BellmanFord.java#L90

[2020-11-29 02:59] DieKyo opened #2057 "Would not be "unidirectional" in this line...?"
https://github.com/TheAlgorithms/Java/blob/c85223bfca0b84966c4df8655f255b9f846c60a4/DataStructures/Graphs/BellmanFord.java#L153

[2020-11-29 03:16] yanglbme commented on #2055
Hi @DieKyo , you can create a pull request to fix the typo :)

[2020-11-29 03:50] ayaankhan98 commented on #2057
yes a minor typing mistake

[2020-11-29 03:50] ayaankhan98 commented on #2056
yes a minor typing mistake

[2020-11-30 02:41] DieKyo commented on #2056
Its not necessary fix this?

[2020-11-30 02:45] DieKyo commented on #2055
Ok bro, i have to understand and searching somethings yet, because I'm totally new in programming...

[2020-11-30 04:35] DieKyo commented on #2057
Ok, thx @ayaankhan98

[2020-11-30 06:29] ayaankhan98 commented on #2056
these are just comments used for illustration purpose, it will not effect the code in anyway and there is no harm in fixing these things also they are not mandatory to fix because anyone who knows english can easily understand. But it's always better to have things in right place.

[2020-11-30 19:27] DieKyo commented on #2056
Ok, thank you for the explain. :+1:

[2020-11-30 20:09] brennanananan commented on #2052
@noseparte By having your additional
[code]
statement in the sort method, you are printing an additional time before the main method performs the print. I believe this is the reason you are seeing an additional step in the process, since this is printing one final time, assuming `swapped == false`, which is the case in the final step when no *bubbles* are occurring. Try removing the `print(integer

[2020-12-01 17:15] Aadersh-Chaubey commented on #2050
I am a beginner in GitHub and looking for some simple stuff to start.
so I will be happy if you allow me to code that calculator

[2020-12-05 13:26] noseparte commented on #2052
OK，you are right. @brennanananan

[2020-12-05 13:26] #2052 closed

[2020-12-07 08:11] #1929 closed

[2020-12-10 00:01] gabrieusj opened #2060 "Geo"

[2020-12-10 00:02] gabrieusj commented on #2060
<!DOCTYPE html> <html> <head> <title>Emerson Carvalho - Pegar Coordenadas Geográficas à partir de um endereço usando Javascript (2019)</title> </head> <body> <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script> <script type="text/javascript"> const API_URL = 'https://maps.googleapis.com/maps/api/geocode/json'; const API_KEY = ''; const do

[2020-12-10 00:02] #2060 closed

[2020-12-14 14:53] kshivam953 commented on #1640
@mshreya9  Please review #2061  and merge the PR and please let me know if any problem occur.

[2020-12-14 17:41] #1640 closed

[2020-12-20 00:38] tmanlsd opened #2063 "Winupdate"

[2020-12-22 11:32] JimmyAllen999 opened #2066 "yh"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Specification**

**Additional

[2020-12-23 09:42] EATONJIANGHAHAHA opened #2067 "Add Minimum Path Sum for Dynamic Programming with tests"
Minimum Path Sum is an algorithm that calculates the sum of the minimum path of a grid. This class provides the best solution in terms of Time Complexity and Space Complexity. For more information see [https://www.geeksforgeeks.org/maximum-path-sum-matrix/](url)

[2020-12-26 04:48] Distill-pixel commented on #2066
Erm...?

[2020-12-26 05:57] Prabhat-kumar-developer commented on #2050
I have code for simple  java swing code for calculator.

[2020-12-26 06:00] Prabhat-kumar-developer commented on #2050
https://aspprabhat2784.blogspot.com/p/calculator-java-program.html

[2020-12-29 19:43] SundusAdwan commented on #2028
do you still need help?

[2020-12-31 04:40] Aniket10k opened #2070 "Roman to Integer conversion return integer in case of invalid Roman String."
In Roman to Integer conversion. When we put an invalid roman string it still responds with an integer which is wrong.
In roman numbers only some exceptions are presents like "IX" is 9 and "IV" is 4. But "IC" is not 99 It should be "XCIX". But If we give input as "IC" it returns as 99. But it should be an invalid input response.

Given Example input as : "IC"

Response : 99

Expected behavior : Inv

[2021-01-02 13:20] Sinha-09 commented on #2050
May I take this issue?

[2021-01-02 13:21] Sinha-09 commented on #1463
May I take this?

[2021-01-02 15:31] tharun9746 commented on #2050
Yeah for sure

On Sat, 2 Jan, 2021, 6:50 pm Sinha-09, <notifications@github.com> wrote:

[2021-01-08 06:56] Priya103 commented on #1904
If still it is unassigned...... please assign this to me

[2021-01-08 07:06] Priya103 commented on #1238
If non one has started... i will soon PR for this

[2021-01-08 15:07] #1904 closed

[2021-01-09 11:35] shwhite17 commented on #2050
i would like to contribute on it !!

[2021-01-10 21:55] aardreye opened #2080 "Métodos Largos"
**Tienes métodos con más de 50 líneas de código**
Un claro ejemplo es el método go() de la clase BellmanFord en el paquete estructura de datos.

**Una posible solución es extraer todos los bucles for del método go() en metodos de una clase embebida**

Los pasos serían los siguientes:
1. Crear la clase embebida con los atributos más utilizados por el método go()
2. Crear el constructor de la clase

[2021-01-11 00:39] aardreye opened #2081 "Clase Larga"
**BellmanFord es una clase larga**
sería bueno que subdividieras esta clase de acuerdo a las funcionalidades

**Puedes usar ténicas de refactorización**
Por ejemplo Extract Class:
1. Mira que métodos pueden subsistir sin otra instancia de la clase.
2. Crea tantas clases como funcionalidades hayan.
3. De ser necesario implementa interfaces

**Una posible solución sería**
![UMLTareaRefactory](https:

[2021-01-12 04:14] barkowkay opened #2082 ">"
Read-only.txt?

_Originally posted by @barkowkay in https://github.com/barkowkay/thedus/issues/1#issuecomment-758385422_

[2021-01-12 11:24] sameerahmedk commented on #2055
Hey @DieKyo, I'm working on this issue since it still hasn't been corrected.

[2021-01-12 20:55] blackbunny130 opened #2084 "Test"

[2021-01-12 20:55] #2084 closed

[2021-01-20 22:13] Jassi10000 opened #2090 "Contributing to the Documentation link not working ,showing 404 Not Found error"
**Describe the bug**
A clear and concise description of what the bug is.

I wanted to contribute to the repository but when I clicked on to look for " Contributing to the Documentation " to see the Contributing Guidelines once , its showing a 404 error , that its not available

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-01-23 07:15] Rashika101 commented on #2070
Hey!!
are you willing to accept new contributors? I am interested into contributing to this repository so, if you could explain a bit more this feature request, it would be great.
Thanks

[2021-01-23 07:16] Rashika101 commented on #2050
Hey!!
are you willing to accept new contributors? I am interested into contributing to this repository so, if you could explain a bit more this feature request, it would be great.
Thanks

[2021-01-23 07:17] Rashika101 commented on #2028
Hey!! are you willing to accept new contributors? I am interested into contributing to this repository so, if you could explain a bit more this feature request, it would be great.
Thanks

[2021-01-24 05:10] tharun9746 commented on #2050
Yes you may contribute to this project.
Iam looking forward to build a calculator using JAVA Swing package.
It contains numbers from 0-9 and operations +,-,*,/ and clear button (You
may add more scientific operations as per your knowledge).
I almost have a code for simple calculator but its not working with
negative numbers.
So if you could make one you may.

On Sat, 23 Jan, 2021, 12:46 pm Rashika

[2021-01-24 07:12] Rashika101 commented on #2050
@tharun9746
Will You share the code on which You are working?

[2021-01-31 11:23] gtothe7 opened #2095 "Idea"
- [x] - - [ ] - ****_@java[]()_** .github/pull_request_template **.md

[2021-01-31 14:01] shahabrar7746 commented on #2050
i've already created simple calculator in eclipse so, if you let me  i'll manage this issue

[2021-01-31 14:12] shahabrar7746 commented on #973
i would like to work on this issue. It looks like perfect start  for a beginner to code

[2021-02-01 18:50] dimitri12482 opened #2098 "Add new features"

[2021-02-03 09:02] #2057 closed

[2021-02-03 11:21] #2056 closed

[2021-02-03 11:23] #2055 closed

[2021-02-05 12:59] Avibtb opened #2100 "Function to check whether the given Singly Linked List is Palindrome or not."
### Added the Function that will check whether the given Linked List is Palindrome or not

_Implemented the following function to check whether the given Linked List is Palindrome or not_

- takeinput - to take input from user.
- reverse - to reverse the Linked List.
- isPalindrome - to check whether the Linked List is Palindrome  or not.

 *    Input 1 : 9 2 3 3 2 9 -1
 *    Output 1 : true
 *

[2021-02-05 17:33] shahabrar7746 commented on #1861
i've created class where  you just to need  type decimal numbers and it will calculate BCD
and i would like contribute on your project

[2021-02-06 09:42] apurvai007 commented on #2100
Hello, can I take it up? I think I can do it.

[2021-02-06 10:20] #2100 closed

[2021-02-06 10:24] apurvai007 commented on #2100
@Avibtb Is it already done?

[2021-02-07 13:07] #2098 closed

[2021-02-07 13:08] #2066 closed

[2021-02-07 14:22] shahabrar7746 commented on #1884
Do you need  any user input??

[2021-02-07 19:08] syed-zain-rizvi opened #2102 "."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Specification**

**Additional

[2021-02-08 00:34] Md-Atik-Enam commented on #2043
Can I work on this issue?

[2021-02-10 23:07] bnout-tech opened #2104 "Algoritmos Java"

[2021-02-11 00:54] #2104 closed

[2021-02-11 00:55] #2102 closed

[2021-02-11 09:20] PrajwalG22 commented on #2095
Hi is anyone working on this issue?
If not do tell me how to work on my first issue?
Please it would help me a lot.

[2021-02-11 09:22] PrajwalG22 commented on #2090
@Jassi10000
Hello, is anyone working on this issue?
If not can you help me getting started.

[2021-02-11 09:31] Jassi10000 commented on #2082
@barkowkay Can you please elaborate what this issue is ??

[2021-02-11 09:37] Jassi10000 commented on #2090
@PrajwalG22 Actually I think there is some glitch in the link that directs us to the  " Contributing to the Documentation  "
and of course we can't do anything to bring back documentation , its totally the work of Repo Maintainers
So I think  there will be no gain we both also work on it , its a glitch in the repo only

* Btw You can try other issues , feel free to ask for help

[2021-02-11 14:28] PrajwalG22 commented on #2090
@Jassi10000 Thank You!

[2021-02-17 12:46] donno2048 opened #2105 "Faster algorithms"
Just to make sure, making the algorithms better but harder to understand is off limit, right?

I mean like changing the isPrime function to:
[code]

[2021-02-17 13:46] JesperStroebaek commented on #2105
Will not change anything, just looking and learning 👍 I'm just impressed 😄

Sendt fra ProtonMail-mobil

-------- Originalbesked --------
Til 17. feb. 2021 13.48, Elisha Hollander skrev:

[2021-02-18 09:00] ThinkingInMe opened #2106 "good"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-19 16:13] venuthurlareddy opened #2108 "Venkey"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Specification**

**Additional

[2021-02-24 20:17] myselfweller opened #2111 "Documentation spelling errors"
Fix spelling errors in the CONTRIBUTING.md file

[2021-02-25 10:54] #2108 closed

[2021-02-25 10:54] #2106 closed

[2021-02-25 10:56] #2082 closed

[2021-02-25 10:56] #2080 closed

[2021-02-25 10:56] #2081 closed

[2021-02-25 16:59] #2111 closed

[2021-02-26 19:09] ayaankhan98 opened #2116 "update README.md"
### Description
Remove developemt branch instruction form `README.md`. It was earlier decided to wrap the complete repository into a Java Project. But this idea is not suitable, The sole purpose of this organisation is to serve for educational purpose. Therefore, we want each and every file to be independent from other files.

[2021-02-26 19:12] ayaankhan98 commented on #2105
@donno2048 you can add this version too in repository but with proper explanation and suitable references for people to learn.

[2021-02-26 23:15] akhatami commented on #2116
@ayaankhan98

May I start working on this?

If I'm not mistaken, the first line: _"NOTE: A Development branch is made for this repo where we're trying to migrate the existing project to a Java project structure. You can switch to Development branch for contributions. Please refer this issue for more info."_ should be removed, right?

[2021-02-27 05:44] ayaankhan98 commented on #2116
yes.

[2021-02-28 10:11] YaRoNTheBoss opened #2118 "."
Eh

[2021-02-28 11:49] #2118 closed

[2021-03-03 16:58] ddave5 opened #2119 "Add ProjectEuler Solution for 40-50 and 52"
https://projecteuler.net/archives

Here you can find all of the problems.

[2021-03-04 13:18] jnorbi99 opened #2120 "Straightforward algorithm in One and Two dimension"
https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiWgYLS3JbvAhUmmYsKHVGuDIoQFjAAegQIARAD&url=https%3A%2F%2Focw.mit.edu%2Fcourses%2Felectrical-engineering-and-computer-science%2F6-006-introduction-to-algorithms-fall-2011%2Flecture-videos%2FMIT6_006F11_lec01.pdf&usg=AOvVaw2T_xjq0L-axL4nxdLthQO8

In this pdf you can find the searching algorithms and the problems

[2021-03-04 16:27] vivi08155 opened #2121 "Algorithm and graph"
[ ] DAG (Directed acyclic graph)
[ ] Minimax algorithm with alpha beta

[2021-03-04 19:06] Antwhite420 commented on #1853
Do you need help with the generic issue? I could give it a try.

[2021-03-04 19:15] ayaankhan98 commented on #1853
That PR is quite old, see if the author respond to that or else you can make a new PR for this.

[2021-03-04 20:08] Antwhite420 commented on #2003
Could I help here?

[2021-03-04 23:30] nostrid opened #2122 "B-tree algorithm and BellmanFord algorithm"
[ ] B - tree operations andcreate GUI screen
[ ] Create BellmanFord algorithm with GUI

[2021-03-05 07:41] PriyankaKeer opened #2123 "Error - java.lang.IllegalArgumentException: Comparison method violates its general contract!"
Hi Team,

Getting below error in Junit testcase for comparator.

Caused by: java.lang.IllegalArgumentException: Comparison method violates its general contract!
at java.util.TimSort.mergeHi(TimSort.java:899)
at java.util.TimSort.mergeAt(TimSort.java:516)
at java.util.TimSort.mergeForceCollapse(TimSort.java:457)
at java.util.TimSort.sort(TimSort.java:254)
at java.util.Arrays.sort(Arrays.java:1438)

[2021-03-05 13:22] ayaankhan98 commented on #2003
sure go ahead, don't ask, just make a PR we will review.

[2021-03-06 08:42] electro00 opened #2124 "Pigeonhole sort"
[ ] Pigeonhole sort and create GUI

[2021-03-07 18:43] kuklinorbert opened #2127 "Hill climbing and simulated annealing"
[ ] Hill climbing
[ ] Simulated Annealing

[2021-03-09 10:03] KAKOOZA-99 opened #2131 "Kenk"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Specification**

**Additional

[2021-03-09 11:20] hpatya opened #2132 "Fibonacci Search with GUI"
Array arr[] of size n and an element x to be searched in it.

[2021-03-09 12:00] #2105 closed

[2021-03-09 21:47] noemiverok opened #2138 "Add ProjectEuler Solution for 14, 21, 31, 36"
The problem description avaliable here:
https://projecteuler.net/archives

[2021-03-10 14:07] kuklinorbert opened #2140 "Sorting algorithms"
[ ] Bead sort
[ ] Stooge sort
[ ] Iterative Merge sort

[2021-03-11 17:07] #2124 closed

[2021-03-11 17:12] electro00 opened #2141 "Sort algorithms"
[ ] Brick sort
[ ] Hybrid sort

[2021-03-13 06:14] shahabrar7746 commented on #2127
i would like to work on this issue.Could you tell me more about this

[2021-03-14 18:19] Petraa1999 opened #2144 "Sorting algorithms"
[ ] : 3 way merge sort
[ ] : bubble sort
[ ] : recursive bubble sort
[ ] : radix sort

[2021-03-16 03:53] algobytewise opened #2149 "False positive for "Prettier / prettier"-check"
It seems the "Prettier / prettier"-check gives a false positive in some cases. The error message is as follows: `Error: The process '/usr/bin/git' failed with exit code 1`. As @danielUTM has pointed out, this problem can be avoided by doing the commit directly from the master-branch of the fork. For example, compare #2145 vs #2146 or #2130 vs #2148. But this workaround is not optimal so it would b

[2021-03-17 16:32] #2116 closed

[2021-03-18 03:56] shahabrar7746 commented on #1340
hey
this looks a great issue for me to start development.i would like to work on it. might be need some assistance

[2021-03-18 08:19] vivek286 commented on #2144
I want to work on it can you guide me?

[2021-03-18 10:06] ronobebe opened #2153 "RedBlackBST.Java"
**Describe the bug**
In redBlackBst delete function  Treefixup got error

**To Reproduce**
Steps to reproduce the behavior:
Just run the delete Demo in RedBlackBST

[2021-03-18 15:49] vivek286 commented on #2138
I am on it

[2021-03-18 15:54] vivek286 commented on #2138
I am on it

[2021-03-19 20:11] OBrutus opened #2156 "Adding up an algorithm in Cipher"
I wish to add Playfair Cipher.

[2021-03-20 05:27] Jassi10000 commented on #2144
Can I work on these ?
You can assign me

[2021-03-20 22:22] #728 closed

[2021-03-20 22:22] #474 closed

[2021-03-21 15:55] st235 commented on #1535
anybody would like to review this?

[2021-03-21 15:56] st235 commented on #1558
anybody?

[2021-03-25 11:07] NURINGHO opened #2160 "Sie"

[2021-03-25 15:38] RanimAmor commented on #2141
Can I work on these ?

[2021-03-26 05:18] roycas99 commented on #2141
yes

[2021-03-26 11:27] #2009 closed

[2021-03-26 16:34] electro00 commented on #2141
Im already working on it cuz it's a university project issue

[2021-03-28 20:11] #1710 closed

[2021-03-30 01:37] Andreas-White opened #2165 "Help on failed test on JUnit5 tests on Ubuntu"
Hello, can someone clarify to me how to handle this issue. I implemented the TimSort algorithm plus the TimSortTest. However, when making the pull request I got a failed test on JUnit5 tests on Ubuntu and JUnit5 tests on Windows and MacOS cancelled. The test class worked fine on my side, also checked the implementation of the other test classes and followed their format. Is there something I could

[2021-03-30 12:09] raunakbhupal opened #2166 "Trapping Rain Water problem not available."
A common Google interview question known as the Trapping Rain Water problem where given an array of some non negative integers which represents the height of the block. Considering the width of each block to be 1 we need to find how much water could be trapped between the blocks during the rainy season.

- [ ] Trapping Rain Water Problem

### Test Case:

Consider an array of size 6 and the heights

[2021-03-31 04:09] shahabrar7746 commented on #1340
@WaterHashira could you suggest me some  projects using LinkedHashSet

[2021-04-09 10:51] LoopGlitch26 opened #2172 "Project Euler Problem 5, 8"
**Problem 8**
The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336

[2021-04-09 10:52] LoopGlitch26 commented on #2172
**Please find the corresponding PR [HERE](https://github.com/TheAlgorithms/Java/pull/2171)**

[2021-04-09 11:05] LoopGlitch26 opened #2173 "Bit Manipulation using Java"
**There are several Bitwise Operators techniques that can be done using Java**
Bitwise operators deal directly in binary-level which is a more optimized method. I want to explore bitwise operators and apply them in programs to see how many different types of problems can be dealt with using Bitwise operators.

**Bit_Manipulation**
I want to make a folder in the Java repo, where I'd like to contrib

[2021-04-09 11:06] LoopGlitch26 commented on #2173
I want to work on this issue.

[2021-04-13 04:55] alpha037 opened #2178 "Run Google Java Formatter on push/pull request for specific paths"
**Describe the bug**
The Google Java Formatter job is running on every single code push and/or pull request.

**Expected behavior**
Since it's a Java formatter, so it should run only when a Java file is created/modified.

[2021-04-13 04:55] alpha037 commented on #2178
Hey, I'd like to work on this issue.

[2021-04-13 09:48] mk-94 commented on #2165
Hi, do you have some error-messages?

[2021-04-13 10:33] mk-94 commented on #2140
Hi, i would like to work on this issue. But is it possible to split this three sort-algorithms in three issues?

[2021-04-13 12:31] Antwhite420 commented on #2165
Hello, I present the resulted error messages on the following screenshots
![Screenshot (2)](https://user-images.githubusercontent.com/66181957/114552354-cd4d7400-9c64-11eb-9a28-a306fc8b0270.png)
![Screenshot (3)](https://user-images.githubusercontent.com/66181957/114552380-d5a5af00-9c64-11eb-8824-a128079cbf0f.png)
![Screenshot (4)](https://user-images.githubusercontent.com/66181957/114552394-d9d1c

[2021-04-13 13:14] mk-94 commented on #2165
Branch is ImplTimSort?

[2021-04-13 13:35] mk-94 commented on #2165
First problem is cause of

[2021-04-13 13:48] mk-94 opened #2179 "Uppertest fails in Development"
**Describe the bug**
Class Uppertest, test fails cause of AssertEquals in line 12 but they are not equals.
There should be AssertNotEquals implemented, there are failed tests by checking of pull-requests.
In the code is a comment: //Assertions fail for functional reasons.
But why? What are the functional reasons?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Class UpperTest
2. Start

[2021-04-13 13:52] mk-94 commented on #2179
i would take it.

[2021-04-13 14:15] mk-94 commented on #2165
I fixed the problem and created a pull request to Development-Branch https://github.com/TheAlgorithms/Java/pull/2180

[2021-04-13 14:19] mk-94 commented on #2179
https://github.com/TheAlgorithms/Java/pull/2180

[2021-04-13 14:50] Antwhite420 commented on #2165
Thanks a lot, great help!

[2021-04-14 07:06] Kartikeypandey03 commented on #2140
hey, i would like to work on this issue

[2021-04-14 17:33] adnanmorsy97 commented on #2050
Hey, @thakursaurabh1998 is this issue still open ? I would like to take it :)

[2021-04-14 17:36] adnanmorsy97 commented on #2050
Hey, @tharun9746  is this issue still open ? I would like to take it :)

[2021-04-15 09:04] algobytewise opened #2185 "Waiting for reviews of contributions"
I've tried to make several contributions to this repo in the last weeks: #2148, #2155, #2168 & #2175. But so far the pull requests are still open and I haven't received any feedback on them. Could someone of the members have a look at them?

[2021-04-16 05:08] hso9 opened #2186 "G"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Specification**

**Additional

[2021-04-16 05:09] hso9 commented on #2186
G

[2021-04-16 06:23] hso9 opened #2187 "Atm"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Specification**

**Additional

[2021-04-16 06:23] hso9 commented on #2187
package atm;
//import javafx.scene.layout.Pane;
import javax.swing.*;

import java.awt.event.ActionListener;
import java.io.*;
import java.util.ArrayList;
import java.util.List;
public class Test {
     public static List<Account> usersList;
        public static Account currentAccount;//
sign in
        public static File file;//  User record
        public static StringBuilder recordString=new S

[2021-04-16 10:09] ankitgupta75 opened #2188 "..."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-17 21:27] nishantc1527 opened #2189 "Typo In DataStructures/Graphs/BellmanFord.java"
**Is your feature request related to a problem? Please describe.**
Line 7 of [Bellman Ford](https://github.com/TheAlgorithms/Java/blob/master/DataStructures/Graphs/BellmanFord.java#L7) contains a typo where the word vertes should be vertex.

**Describe the solution you'd like**
Change the word vertes to vertex.

**Describe alternatives you've considered**

**Additional context**
![image](https://u